## Part 1. Data Processing

In [24]:
import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db

In [25]:
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

### Calculating Distance

In [26]:
from math import radians, cos, sin, asin, sqrt, atan, atan2
# longitude and latitude of pickup and dropoff locations
def calculate_distance(Pickup_Longitude, Pickup_Latitude, Dropoff_Longitude, Dropoff_Latitude):
    # transfer numbers to radius
    Pickup_Longitude = radians(Pickup_Longitude)
    Pickup_Latitude = radians(Pickup_Latitude)
    Dropoff_Longitude = radians(Dropoff_Longitude)
    Dropoff_Latitude = radians(Dropoff_Latitude)
    # the formulas of calculate_distance
    dlon = Dropoff_Longitude - Pickup_Longitude
    dlat = Dropoff_Latitude - Pickup_Latitude
    a = sin(dlat/2)**2 + cos(Pickup_Latitude) * cos(Dropoff_Latitude) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    r = 6371 # The Average Radius of Earth
    Distance = c*r
    return Distance

### Processing Uber Data
#### Import Uber Data

In [27]:
df_Uber = pd.read_csv(r'C:\Users\siqie\Desktop\uber_rides_sample.csv') # Load the data for Uber Rides

#### Clean Uber data by deleting unused columns

In [28]:
# Delete the unused columns from Uber data
del df_Uber["Unnamed: 0"]   
del df_Uber["key"]

#### Normalize the column names

In [29]:
df_Uber.rename(columns={
                        'fare_amount':'Fare_Amount', 
                        'pickup_datetime':'Pickup_Date_Time', 
                        'pickup_longitude':'Pickup_Longitude', 
                        'pickup_latitude':'Pickup_Latitude',
                        'dropoff_longitude':'Dropoff_Longitude',
                        'dropoff_latitude':'Dropoff_Latitude',
                        'passenger_count':'Passenger_Count'
                       }, inplace = True)

#### Only include rides that's in our circled area

In [30]:
# Circle the areas that we are considering: ((40.560445, -74.242330), (40.908524, -73.717047))
df_Uber=df_Uber[df_Uber["Pickup_Longitude"] <= -73.717047]  
df_Uber=df_Uber[df_Uber["Pickup_Longitude"] >= -74.242330]
df_Uber=df_Uber[df_Uber["Pickup_Latitude"] >= 40.560445]
df_Uber=df_Uber[df_Uber["Pickup_Latitude"] <= 40.908524]
df_Uber=df_Uber[df_Uber["Dropoff_Longitude"] <= -73.717047]
df_Uber=df_Uber[df_Uber["Dropoff_Longitude"] >= -74.242330]
df_Uber=df_Uber[df_Uber["Dropoff_Latitude"] >= 40.560445]
df_Uber=df_Uber[df_Uber["Dropoff_Latitude"] <= 40.908524]
# Remove all the rows that has cordinates with 0, which are considered as invalid value. 
df_Uber=df_Uber[df_Uber.Pickup_Longitude != 0]
df_Uber=df_Uber[df_Uber.Pickup_Latitude != 0]
df_Uber=df_Uber[df_Uber.Dropoff_Longitude != 0]
df_Uber=df_Uber[df_Uber.Dropoff_Latitude != 0]

#### Make Uber data a sample of 10,000 rides

In [31]:
df_Uber = df_Uber.sample(n = 10000)

In [32]:
df_Uber

,Fare_Amount,Pickup_Date_Time,Pickup_Longitude,Pickup_Latitude,Dropoff_Longitude,Dropoff_Latitude,Passenger_Count
114380,7.30,2012-06-09 09:20:18 UTC,-74.015751,40.711285,-73.997996,40.716852,3
163354,12.90,2010-08-17 11:01:00 UTC,-73.990003,40.756530,-73.999115,40.726455,5
90063,19.50,2012-10-24 15:37:33 UTC,-73.996725,40.753029,-74.007264,40.707449,1
145828,12.10,2011-06-04 06:30:58 UTC,-73.982555,40.731299,-73.943402,40.708326,1
136922,5.50,2014-11-08 10:08:03 UTC,-73.973544,40.794967,-73.973126,40.785201,1
104774,16.10,2010-07-24 19:02:00 UTC,-74.003812,40.725432,-73.972303,40.782438,2
75123,9.50,2013-03-14 19:39:39 UTC,-73.979273,40.744381,-73.955213,40.769116,1
67721,8.10,2011-02-01 11:43:00 UTC,-73.989360,40.758510,-73.981727,40.752485,2
10683,13.30,2012-08-24 16:42:20 UTC,-73.986428,40.743365,-74.000053,40.761594,1
193060,10.90,2011-07-11 17:33:00 UTC,-73.980142,40.751867,-74.003455,40.743637,1
111688,6.50,2012-08-14 20:50:45 UTC,-73.986116,40.764034,-73.974815,40.752362,1
184257,5.50,2013-12-26 15:16:00 UTC,-73.977717,40.757997,-73.981757,40.752522,3
168991,10.50,2012-12-17 21:16:41 UTC,-73.990977,40.756012,-73.962499,40.760699,1
148936,8.90,2011-12-02 21:35:00 UTC,-73.960822,40.806910,-73.982410,40.774637,3
121264,12.50,2011-01-16 17:07:29 UTC,-73.987930,40.734490,-73.996198,40.698355,1
199704,5.70,2011-10-06 12:04:00 UTC,-73.989165,40.777008,-73.976738,40.782515,5
26515,9.00,2013-11-19 20:46:00 UTC,-74.006250,40.733190,-73.983452,40.726257,1
91598,6.90,2012-03-09 11:28:55 UTC,-73.993447,40.752316,-73.980757,40.763278,1
94687,4.10,2010-01-30 10:30:00 UTC,-73.987168,40.761605,-73.996562,40.763312,1
154303,6.50,2011-05-24 14:05:27 UTC,-73.973052,40.796302,-73.986190,40.777652,1
44654,6.50,2010-07-05 18:10:40 UTC,-73.975970,40.758174,-73.954501,40.765738,1
86232,22.50,2013-09-28 14:21:19 UTC,-74.007070,40.718550,-73.954566,40.767126,1
6812,7.00,2014-10-02 06:14:00 UTC,-73.989990,40.767110,-73.979830,40.752890,5
166019,21.70,2009-08-05 01:31:44 UTC,-73.981486,40.724661,-73.919605,40.773536,1
52599,8.00,2012-10-26 20:36:41 UTC,-73.989018,40.747795,-73.988010,40.762280,1
29114,5.50,2012-11-27 13:59:00 UTC,-73.996255,40.748395,-73.990785,40.755848,1
98879,7.70,2012-08-22 17:49:00 UTC,-73.992525,40.752692,-73.982737,40.758365,1
6907,8.50,2014-10-24 07:18:49 UTC,-73.947626,40.775128,-73.967855,40.762680,1
7805,6.00,2015-01-03 22:41:31 UTC,-73.986801,40.739380,-73.978127,40.748669,1
182267,18.50,2014-06-07 02:15:53 UTC,-73.999764,40.733270,-73.932139,40.707109,1
...,...,...,...,...,...,...,...
110535,8.90,2009-06-30 17:25:38 UTC,-73.988303,40.769349,-73.958109,40.772961,1
179871,7.50,2013-12-25 23:41:00 UTC,-73.982235,40.749182,-73.977412,40.765377,1
116947,9.50,2013-01-25 00:39:00 UTC,-74.004547,40.723630,-73.988678,40.754028,2
195053,6.10,2011-01-02 02:57:31 UTC,-73.987533,40.755387,-73.978691,40.740875,1
123558,8.50,2012-02-18 18:47:23 UTC,-74.012213,40.715651,-74.004456,40.721475,1
65971,6.10,2010-08-11 07:40:49 UTC,-73.987373,40.765887,-73.987700,40.667305,1
17147,22.10,2010-11-12 22:18:00 UTC,-73.999542,40.722218,-73.958492,40.815895,1
107958,6.50,2014-01-15 09:16:00 UTC,-73.990810,40.751042,-74.004880,40.744722,1
55776,7.30,2009-04-28 19:17:00 UTC,-73.988265,40.748583,-73.973763,40.759493,1
131577,24.50,2014-05-08 12:47:00 UTC,-74.008022,40.705712,-73.972042,40.760252,1
34320,6.10,2011-04-11 23:13:00 UTC,-73.984713,40.759105,-73.977362,40.776842,1
91720,4.10,2010-11-03 13:09:13 UTC,-73.974249,40.762875,-73.981412,40.753933,2
56004,10.50,2014-06-05 12:40:48 UTC,-74.007825,40.740463,-73.992060,40.746742,1
139893,57.33,2013-10-19 15:21:00 UTC,-73.978390,40.761192,-73.788927,40.641602,1
50123,30.00,2013-01-02 21:39:00 UTC,-73.788132,40.641505,-73.826727,40.754705,3
48385,12.10,2010-02-13 16:33:00 UTC,-73.976027,40.782570,-73.978332,40.752700,1
176226,3.50,2014-05-12 20:08:47 UTC,-73.990492,40.770017,-73.983101,40.767026,1
111634,8.50,2013-02-06 17:31:00 UTC,-73.983220,40.734237,-73.997425,40.724185,6
155859,8.50,2015-01-17 21:55:14 UTC,-73.999916,40.728195,-73.989845,40.746841,5
45206,12.10,2009-03-13 20:12:00 UTC,-73.981583,40.763932,-74.006900,40.719075,5
125572,9.30,2011-04-27 15:19:00 UTC,-73.955792,40.779445,-73.965433,40.795455,1
92548,8.50,2010-04-01 00:27:00 UTC,-73.966818,40.803952,-73.943300,40.789312,2
177755,7.70,2009-12-10 16:52:00 UTC,-74.004115,40.733085,-73.986920,40.722273,2
182278,17.30,2009-07-03 23:46:42 UTC,-74.002159,40.706910,-73.955461,40.745998,1
164455,8.00,2013-10-11 22:24:46 UTC,-73.982547,40.771806,-73.991592,40.754700,1
175776,3.70,2012-06-23 01:17:00 UTC,-73.985168,40.749162,-73.991618,40.750208,2
59188,19.50,2014-08-08 09:09:14 UTC,-73.974165,40.794045,-73.978803,40.753383,2
11781,5.70,2010-07-27 08:44:52 UTC,-73.957763,40.779554,-73.963664,40.767777,1
20503,12.10,2010-10-24 08:45:00 UTC,-73.973165,40.785202,-74.005365,40.723048,1
109979,5.50,2015-02-11 05:12:05 UTC,-73.989677,40.762989,-73.998116,40.756214,1

#### Insert a column for travel distance

### Processing Weather Data
#### Import weather data

In [33]:
# Loading all weather data from 2009 to 2015
df_Weather_2009 = pd.read_csv(r'C:\Users\siqie\Desktop\2009_weather.csv')
df_Weather_2010 = pd.read_csv(r'C:\Users\siqie\Desktop\2010_weather.csv')
df_Weather_2011 = pd.read_csv(r'C:\Users\siqie\Desktop\2011_weather.csv')
df_Weather_2012 = pd.read_csv(r'C:\Users\siqie\Desktop\2012_weather.csv')
df_Weather_2013 = pd.read_csv(r'C:\Users\siqie\Desktop\2013_weather.csv')
df_Weather_2014 = pd.read_csv(r'C:\Users\siqie\Desktop\2014_weather.csv')
df_Weather_2015 = pd.read_csv(r'C:\Users\siqie\Desktop\2015_weather.csv')

C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,9,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (17,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,9,17,18,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10,41,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Remove unnecessary columns for each dataset

In [34]:
# Since there are too many columns we want to delete, we used "column number" method to clean the data
df_Weather_2009 = df_Weather_2009.drop(df_Weather_2009.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2010 = df_Weather_2010.drop(df_Weather_2010.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2011 = df_Weather_2011.drop(df_Weather_2011.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2012 = df_Weather_2012.drop(df_Weather_2012.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2013 = df_Weather_2013.drop(df_Weather_2013.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2014 = df_Weather_2014.drop(df_Weather_2014.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2015 = df_Weather_2015.drop(df_Weather_2015.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)

#### Put together hourly weather data

In [35]:
# Since we will only focus on the weather from 2012 to 2014, then we only clean up what we need.
## All the hourly data has REPORT_TYPE: FM-15, so we only select FM-15
df_Weather_2012_hourly = df_Weather_2012[df_Weather_2012['REPORT_TYPE'].str.contains('FM-15')]
df_Weather_2013_hourly = df_Weather_2013[df_Weather_2013['REPORT_TYPE'].str.contains('FM-15')]
df_Weather_2014_hourly = df_Weather_2014[df_Weather_2014['REPORT_TYPE'].str.contains('FM-15')]

## Put 3 hourly data into one hourly weather data
frames1 = [df_Weather_2012_hourly, df_Weather_2013_hourly, df_Weather_2014_hourly]
df_Weather_hourly = pd.concat(frames1)


## Later we will need Hourly Sustained Wind Speed information, which we will insert a new column for it.

#### Clean up hourly weather data

In [36]:
# Delete unnecessary columns from the table (Most of the daily data). 
df_Weather_hourly = df_Weather_hourly.drop(df_Weather_hourly.columns[[9,10,11,12,13,14,15,16,17]], axis=1)


# Split Datatime to Date and Time
df_Weather_hourly['TIME']=df_Weather_hourly['DATE'].str.slice(11,19) # Create a new column that only has time

# Move TIME column right after DATE column
TIME = df_Weather_hourly["TIME"]
df_Weather_hourly.drop(labels=["TIME"], axis=1, inplace=True)
df_Weather_hourly.insert(1, "TIME", TIME)


# Only leave the date information in "DATE" column
df_Weather_hourly['DATE'] = df_Weather_hourly['DATE'].str[:-9]
df_Weather_hourly

# Add a new column that indicates days of a week
df_Weather_hourly['DATE'] = pd.to_datetime(df_Weather_hourly['DATE'])
df_Weather_hourly['DayofWeek'] = df_Weather_hourly['DATE'].dt.day_name()

# Move DayofWeek column right after TIME
DayofWeek = df_Weather_hourly["DayofWeek"]
df_Weather_hourly.drop(labels=["DayofWeek"], axis=1, inplace=True)
df_Weather_hourly.insert(2, "DayofWeek", DayofWeek)

#### Put together daily weather data

In [37]:
# For daily data we will also focus on 2012 to 2014
## All the daily data has REPORT_TYPE: SOD, so we only select SOD data.
df_Weather_2012_daily = df_Weather_2012[df_Weather_2012['REPORT_TYPE'].str.contains('SOD')]
df_Weather_2013_daily = df_Weather_2013[df_Weather_2013['REPORT_TYPE'].str.contains('SOD')]
df_Weather_2014_daily = df_Weather_2014[df_Weather_2014['REPORT_TYPE'].str.contains('SOD')]

## Put 3 daily data into one hourly weather data
frames2 = [df_Weather_2012_daily, df_Weather_2013_daily, df_Weather_2014_daily]
df_Weather_daily = pd.concat(frames2)

#### Clean up daily weather data

In [38]:
# Delete unnecessary columns (hourly data)
df_Weather_daily = df_Weather_daily.drop(df_Weather_daily.columns[[2,3,4,5,6]], axis=1)
df_Weather_daily

# Change the column name of "DailySustainedWindSpeed" to "SustainedWindSpeed"
df_Weather_daily.rename(columns={"DailySustainedWindSpeed":"SustainedWindSpeed"}, inplace = True)

# Only leave date information in DATE column
df_Weather_daily['DATE'] = df_Weather_daily['DATE'].str[:-9]
df_Weather_daily

# Add a new column that indicates days of a week
df_Weather_daily['DATE'] = pd.to_datetime(df_Weather_daily['DATE'])
df_Weather_daily['DayofWeek'] = df_Weather_daily['DATE'].dt.day_name()


# Move DayofWeek column right after TIME
DayofWeek = df_Weather_daily["DayofWeek"]
df_Weather_daily.drop(labels=["DayofWeek"], axis=1, inplace=True)
df_Weather_daily.insert(1, "DayofWeek", DayofWeek)
df_Weather_daily

# The column names are already normalized, no further action needed.
# Based on what is needed from this data, there's no more invalid data point that must be removed.

,DATE,DayofWeek,REPORT_TYPE,Sunrise,Sunset,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageWindSpeed,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,SustainedWindSpeed
30,2012-01-01,Sunday,SOD,720.0,1639.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,2012-01-10,Tuesday,SOD,720.0,1648.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,2012-01-11,Wednesday,SOD,720.0,1649.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,2012-01-12,Thursday,SOD,719.0,1650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,2012-01-13,Friday,SOD,719.0,1651.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,2012-01-16,Monday,SOD,718.0,1654.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472,2012-01-17,Tuesday,SOD,717.0,1655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,2012-01-21,Saturday,SOD,715.0,1700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,2012-01-23,Monday,SOD,714.0,1702.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,2012-01-26,Thursday,SOD,712.0,1706.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
805,2012-01-27,Friday,SOD,711.0,1707.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
847,2012-02-01,Wednesday,SOD,706.0,1713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,2012-02-08,Wednesday,SOD,659.0,1722.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053,2012-02-09,Thursday,SOD,658.0,1723.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1078,2012-02-10,Friday,SOD,657.0,1724.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,2012-02-11,Saturday,SOD,655.0,1726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,2012-02-12,Sunday,SOD,654.0,1727.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,2012-02-14,Tuesday,SOD,652.0,1729.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1222,2012-02-15,Wednesday,SOD,650.0,1730.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,2012-02-16,Thursday,SOD,649.0,1732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1290,2012-02-17,Friday,SOD,648.0,1733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1317,2012-02-18,Saturday,SOD,646.0,1734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1489,2012-02-24,Friday,SOD,638.0,1741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1613,2012-02-29,Wednesday,SOD,630.0,1747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652,2012-03-01,Thursday,SOD,629.0,1748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1677,2012-03-02,Friday,SOD,627.0,1749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1706,2012-03-03,Saturday,SOD,626.0,1750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1840,2012-03-09,Friday,SOD,616.0,1757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1927,2012-03-13,Tuesday,SOD,610.0,1801.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,2012-03-15,Thursday,SOD,606.0,1803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10537,2014-12-02,Tuesday,SOD,702.0,1629.0,28.0,39.0,9.2,43.0,35.0,60.0,26.0,0.08,17.0
10582,2014-12-03,Wednesday,SOD,703.0,1629.0,38.0,44.0,7.7,46.0,41.0,300.0,26.0,0.06,16.0
10607,2014-12-04,Thursday,SOD,703.0,1628.0,21.0,41.0,5.8,45.0,37.0,280.0,20.0,0.00,13.0
10648,2014-12-05,Friday,SOD,704.0,1628.0,30.0,39.0,6.1,44.0,34.0,60.0,21.0,0.51,17.0
10715,2014-12-06,Saturday,SOD,705.0,1628.0,42.0,45.0,4.1,50.0,39.0,20.0,30.0,1.22,17.0
10741,2014-12-07,Sunday,SOD,706.0,1628.0,18.0,36.0,11.8,42.0,30.0,10.0,40.0,0.04,25.0
10772,2014-12-08,Monday,SOD,707.0,1628.0,16.0,31.0,11.5,37.0,24.0,70.0,29.0,0.00,20.0
10825,2014-12-09,Tuesday,SOD,708.0,1628.0,35.0,39.0,10.3,42.0,36.0,60.0,32.0,2.54,22.0
10872,2014-12-10,Wednesday,SOD,709.0,1628.0,30.0,36.0,8.2,40.0,32.0,310.0,24.0,0.08,16.0
10903,2014-12-11,Thursday,SOD,710.0,1628.0,22.0,35.0,7.6,38.0,31.0,260.0,25.0,0.01,17.0
10930,2014-12-12,Friday,SOD,711.0,1628.0,21.0,35.0,8.0,38.0,32.0,300.0,25.0,0.00,15.0
10959,2014-12-13,Saturday,SOD,711.0,1629.0,25.0,39.0,8.9,44.0,34.0,300.0,28.0,0.00,16.0
10986,2014-12-14,Sunday,SOD,712.0,1629.0,29.0,42.0,6.0,46.0,38.0,300.0,20.0,0.00,13.0
11011,2014-12-15,Monday,SOD,713.0,1629.0,29.0,43.0,2.7,48.0,37.0,300.0,12.0,0.00,8.0
11051,2014-12-16,Tuesday,SOD,714.0,1629.0,37.0,44.0,3.7,49.0,38.0,150.0,14.0,0.20,12.0
11089,2014-12-17,Wednesday,SOD,714.0,1630.0,37.0,48.0,5.8,54.0,42.0,290.0,26.0,0.02,16.0
11115,2014-12-18,Thursday,SOD,715.0,1630.0,23.0,40.0,8.7,42.0,37.0,300.0,29.0,0.00,16.0
11142,2014-12-19,Friday,SOD,715.0,1630.0,21.0,35.0,7.2,38.0,31.0,310.0,24.0,0.00,14.0
11169,2014-12-20,Saturday,SOD,716.0,1631.0,19.0,32.0,4.8,33.0,30.0,60.0,15.0,0.00,12.0
11203,2014-12-21,Sunday,SOD,717.0,1631.0,25.0,34.0,4.8,36.0,31.0,10.0,13.0,T,9.0
11237,2014-12-22,Monday,SOD,717.0,1632.0,35.0,40.0,6.0,44.0,35.0,40.0,16.0,0.04,12.0
11295,2014-12-23,Tuesday,SOD,718.0,1632.0,42.0,45.0,8.2,46.0,43.0,80.0,26.0,0.16,17.0
11358,2014-12-24,Wednesday,SOD,718.0,1633.0,47.0,51.0,5.7,58.0,44.0,180.0,17.0,0.80,12.0
11390,2014-12-25,Thursday,SOD,718.0,1634.0,36.0,53.0,9.5,62.0,44.0,300.0,32.0,0.09,20.0
11415,2014-12-26,Friday,SOD,719.0,1634.0,28.0,45.0,5.9,50.0,40.0,250.0,18.0,0.00,13.0
11440,2014-12-27,Saturday,SOD,719.0,1635.0,31.0,50.0,4.4,55.0,44.0,250.0,25.0,0.00,14.0
11467,2014-12-28,Sunday,SOD,719.0,1636.0,36.0,49.0,5.8,54.0,43.0,250.0,22.0,0.10,15.0
11492,2014-12-29,Monday,SOD,720.0,1636.0,19.0,39.0,5.2,44.0,34.0,320.0,25.0,0.00,15.0
11517,2014-12-30,Tuesday,SOD,720.0,1637.0,13.0,31.0,4.3,34.0,28.0,300.0,17.0,0.00,10.0
11542,2014-12-31,Wednesday,SOD,720.0,1638.0,8.0,30.0,5.5,32.0,27.0,280.0,21.0,0.00,14.0

#### Generate values for hourly sustained wind speed

In [39]:
df_Weather_hourly = pd.merge(df_Weather_hourly, df_Weather_daily.loc[:,['DATE', 'SustainedWindSpeed']], how='left', on='DATE')
df_Weather_hourly

,DATE,TIME,DayofWeek,REPORT_TYPE,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyWindGustSpeed,HourlyWindSpeed,Sunrise,Sunset,SustainedWindSpeed
0,2012-01-01,06:00:00,Sunday,FM-15,36,37,NaN,NaN,8.0,NaN,NaN,NaN
1,2012-01-01,08:00:00,Sunday,FM-15,36,37,NaN,NaN,0.0,NaN,NaN,NaN
2,2012-01-12,08:00:00,Thursday,FM-15,43,43,0.03,NaN,0.0,NaN,NaN,NaN
3,2012-01-17,15:00:00,Tuesday,FM-15,41,43,0.01,18.0,10.0,NaN,NaN,NaN
4,2012-01-27,01:00:00,Friday,FM-15,39,41,NaN,NaN,3.0,NaN,NaN,NaN
5,2012-01-27,03:00:00,Friday,FM-15,43,43,NaN,NaN,5.0,NaN,NaN,NaN
6,2012-01-27,07:00:00,Friday,FM-15,48,48,T,NaN,7.0,NaN,NaN,NaN
7,2012-01-27,11:00:00,Friday,FM-15,55,55,0.01,NaN,3.0,NaN,NaN,NaN
8,2012-02-02,00:51:00,Thursday,FM-15,34,48,NaN,NaN,5.0,NaN,NaN,NaN
9,2012-02-02,01:51:00,Thursday,FM-15,32,46,NaN,NaN,3.0,NaN,NaN,NaN
10,2012-02-02,02:51:00,Thursday,FM-15,30,45,NaN,NaN,5.0,NaN,NaN,NaN
11,2012-02-02,03:51:00,Thursday,FM-15,30,45,NaN,17.0,8.0,NaN,NaN,NaN
12,2012-02-02,04:51:00,Thursday,FM-15,30,43,NaN,NaN,0.0,NaN,NaN,NaN
13,2012-02-02,05:51:00,Thursday,FM-15,30,43,NaN,NaN,0.0,NaN,NaN,NaN
14,2012-02-02,06:51:00,Thursday,FM-15,30,43,NaN,NaN,5.0,NaN,NaN,NaN
15,2012-02-02,07:51:00,Thursday,FM-15,30,41,NaN,NaN,7.0,NaN,NaN,NaN
16,2012-02-02,08:51:00,Thursday,FM-15,30,43,NaN,NaN,11.0,NaN,NaN,NaN
17,2012-02-08,21:00:00,Wednesday,FM-15,28,32,T,NaN,0.0,NaN,NaN,NaN
18,2012-02-09,00:00:00,Thursday,FM-15,28,30,T,NaN,7.0,NaN,NaN,NaN
19,2012-02-11,01:51:00,Saturday,FM-15,28,36,T,NaN,3.0,NaN,NaN,NaN
20,2012-02-11,02:51:00,Saturday,FM-15,30,34,T,NaN,0.0,NaN,NaN,NaN
21,2012-02-11,03:51:00,Saturday,FM-15,30,34,0.01,NaN,3.0,NaN,NaN,NaN
22,2012-02-11,04:51:00,Saturday,FM-15,32,34,0.03,NaN,3.0,NaN,NaN,NaN
23,2012-02-11,05:51:00,Saturday,FM-15,32,34,T,NaN,0.0,NaN,NaN,NaN
24,2012-02-11,06:51:00,Saturday,FM-15,32,34,0.02,NaN,0.0,NaN,NaN,NaN
25,2012-02-11,07:51:00,Saturday,FM-15,30,34,T,NaN,5.0,NaN,NaN,NaN
26,2012-02-11,08:51:00,Saturday,FM-15,30,34,T,NaN,7.0,NaN,NaN,NaN
27,2012-02-11,09:51:00,Saturday,FM-15,30,34,0.01,NaN,0.0,NaN,NaN,NaN
28,2012-02-15,17:00:00,Wednesday,FM-15,34,45,NaN,NaN,3.0,NaN,NaN,NaN
29,2012-02-20,00:51:00,Monday,FM-15,19,36,NaN,22.0,14.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21388,2014-12-30,18:51:00,Tuesday,FM-15,9,31,0.00,NaN,NaN,NaN,NaN,10.0
21389,2014-12-30,19:51:00,Tuesday,FM-15,8,30,0.00,NaN,6.0,NaN,NaN,10.0
21390,2014-12-30,20:51:00,Tuesday,FM-15,8,29,0.00,NaN,6.0,NaN,NaN,10.0
21391,2014-12-30,21:51:00,Tuesday,FM-15,9,29,0.00,NaN,0.0,NaN,NaN,10.0
21392,2014-12-30,22:51:00,Tuesday,FM-15,9,28,0.00,NaN,0.0,NaN,NaN,10.0
21393,2014-12-30,23:51:00,Tuesday,FM-15,10,28,0.00,NaN,0.0,NaN,NaN,10.0
21394,2014-12-31,00:51:00,Wednesday,FM-15,10,29,0.00,NaN,0.0,NaN,NaN,14.0
21395,2014-12-31,01:51:00,Wednesday,FM-15,10,29,0.00,NaN,0.0,NaN,NaN,14.0
21396,2014-12-31,02:51:00,Wednesday,FM-15,10,30,0.00,NaN,0.0,NaN,NaN,14.0
21397,2014-12-31,03:51:00,Wednesday,FM-15,12,30,0.00,NaN,5.0,NaN,NaN,14.0
21398,2014-12-31,04:51:00,Wednesday,FM-15,11,30,0.00,17.0,9.0,NaN,NaN,14.0
21399,2014-12-31,05:51:00,Wednesday,FM-15,11,28,0.00,NaN,3.0,NaN,NaN,14.0
21400,2014-12-31,06:51:00,Wednesday,FM-15,12,27,0.00,NaN,9.0,NaN,NaN,14.0
21401,2014-12-31,07:51:00,Wednesday,FM-15,12,27,0.00,NaN,3.0,NaN,NaN,14.0
21402,2014-12-31,08:51:00,Wednesday,FM-15,10,27,0.00,NaN,10.0,NaN,NaN,14.0
21403,2014-12-31,09:51:00,Wednesday,FM-15,8,28,0.00,NaN,9.0,NaN,NaN,14.0
21404,2014-12-31,10:51:00,Wednesday,FM-15,7,30,0.00,NaN,9.0,NaN,NaN,14.0
21405,2014-12-31,11:51:00,Wednesday,FM-15,6,31,0.00,21.0,6.0,NaN,NaN,14.0
21406,2014-12-31,12:51:00,Wednesday,FM-15,5,31,0.00,17.0,10.0,NaN,NaN,14.0
21407,2014-12-31,13:51:00,Wednesday,FM-15,6,31,0.00,NaN,3.0,NaN,NaN,14.0
21408,2014-12-31,14:51:00,Wednesday,FM-15,6,32,0.00,NaN,3.0,NaN,NaN,14.0
21409,2014-12-31,15:51:00,Wednesday,FM-15,5,32,0.00,NaN,9.0,NaN,NaN,14.0
21410,2014-12-31,16:51:00,Wednesday,FM-15,5,31,0.00,NaN,NaN,NaN,NaN,14.0
21411,2014-12-31,17:51:00,Wednesday,FM-15,6,30,0.00,NaN,9.0,NaN,NaN,14.0
21412,2014-12-31,18:51:00,Wednesday,FM-15,7,30,0.00,NaN,3.0,NaN,NaN,14.0
21413,2014-12-31,19:51:00,Wednesday,FM-15,7,30,0.00,NaN,5.0,NaN,NaN,14.0
21414,2014-12-31,20:51:00,Wednesday,FM-15,6,30,0.00,NaN,3.0,NaN,NaN,14.0
21415,2014-12-31,21:51:00,Wednesday,FM-15,8,30,0.00,NaN,5.0,NaN,NaN,14.0
21416,2014-12-31,22:51:00,Wednesday,FM-15,9,29,0.00,NaN,NaN,NaN,NaN,14.0
21417,2014-12-31,23:51:00,Wednesday,FM-15,9,28,0.00,NaN,5.0,NaN,NaN,14.0