## Part 1. Data Processing

In [55]:
import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import sqlite3

In [2]:
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

### Calculating Distance

In [3]:
from math import radians, cos, sin, asin, sqrt, atan, atan2
# longitude and latitude of pickup and dropoff locations
def calculate_distance(Pickup_Longitude, Pickup_Latitude, Dropoff_Longitude, Dropoff_Latitude):
    # transfer numbers to radius
    Pickup_Longitude = radians(Pickup_Longitude)
    Pickup_Latitude = radians(Pickup_Latitude)
    Dropoff_Longitude = radians(Dropoff_Longitude)
    Dropoff_Latitude = radians(Dropoff_Latitude)
    # the formulas of calculate_distance
    dlon = Dropoff_Longitude - Pickup_Longitude
    dlat = Dropoff_Latitude - Pickup_Latitude
    a = sin(dlat/2)**2 + cos(Pickup_Latitude) * cos(Dropoff_Latitude) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    r = 6371 # The Average Radius of Earth
    Distance = c*r
    return Distance

### Processing Uber Data
#### Import Uber Data

In [4]:
df_Uber = pd.read_csv(r'C:\Users\siqie\Desktop\uber_rides_sample.csv') # Load the data for Uber Rides

#### Clean Uber data by deleting unused columns

In [5]:
# Delete the unused columns from Uber data
del df_Uber["Unnamed: 0"]   
del df_Uber["key"]

#### Normalize the column names

In [6]:
df_Uber.rename(columns={
                        'fare_amount':'Fare_Amount', 
                        'pickup_datetime':'Pickup_Date_Time', 
                        'pickup_longitude':'Pickup_Longitude', 
                        'pickup_latitude':'Pickup_Latitude',
                        'dropoff_longitude':'Dropoff_Longitude',
                        'dropoff_latitude':'Dropoff_Latitude',
                        'passenger_count':'Passenger_Count'
                       }, inplace = True)

#### Only include rides that's in our circled area

In [7]:
# Circle the areas that we are considering: ((40.560445, -74.242330), (40.908524, -73.717047))
df_Uber=df_Uber[df_Uber["Pickup_Longitude"] <= -73.717047]  
df_Uber=df_Uber[df_Uber["Pickup_Longitude"] >= -74.242330]
df_Uber=df_Uber[df_Uber["Pickup_Latitude"] >= 40.560445]
df_Uber=df_Uber[df_Uber["Pickup_Latitude"] <= 40.908524]
df_Uber=df_Uber[df_Uber["Dropoff_Longitude"] <= -73.717047]
df_Uber=df_Uber[df_Uber["Dropoff_Longitude"] >= -74.242330]
df_Uber=df_Uber[df_Uber["Dropoff_Latitude"] >= 40.560445]
df_Uber=df_Uber[df_Uber["Dropoff_Latitude"] <= 40.908524]
# Remove all the rows that has cordinates with 0, which are considered as invalid value. 
df_Uber=df_Uber[df_Uber.Pickup_Longitude != 0]
df_Uber=df_Uber[df_Uber.Pickup_Latitude != 0]
df_Uber=df_Uber[df_Uber.Dropoff_Longitude != 0]
df_Uber=df_Uber[df_Uber.Dropoff_Latitude != 0]

#### Seperate Date and Time

In [8]:
# Create a column called "Pickup_Time"
df_Uber['Pickup_Time'] = df_Uber['Pickup_Date_Time'].str.slice(11,19)
## Move Pickup_Time column next to Pickup_Date
Pickup_Time = df_Uber['Pickup_Time']
df_Uber.drop(labels=['Pickup_Time'], axis=1, inplace=True)
df_Uber.insert(2, "Pickup_Time", Pickup_Time)

# Rename "Pickup_Date_Time" to "Pickup_Date", then remove the time part
df_Uber.rename(columns={"Pickup_Date_Time":"Pickup_Date"}, inplace = True)
df_Uber['Pickup_Date'] = df_Uber['Pickup_Date'].str[:11]


# Create a column called "Day_of_Week" which shows on which day of the week the rides happened. 
df_Uber['Pickup_Date'] = pd.to_datetime(df_Uber['Pickup_Date'])
df_Uber['DayofWeek'] = df_Uber['Pickup_Date'].dt.day_name()

## Move DayofWeek column next to Pickup_Time
DayofWeek = df_Uber["DayofWeek"]
df_Uber.drop(labels=["DayofWeek"], axis=1, inplace=True)
df_Uber.insert(3, "DayofWeek", DayofWeek)

#### Insert a column for travel distance

In [122]:
# This formula takes about 8 minutes to generate the Distance column in df_Uber dataframe
# Since the data frames will be exported to cvs files, don't run this if not necessary!
df_Uber['Distance'] = [calculate_distance(**df_Uber[['Pickup_Latitude', 'Pickup_Longitude', 'Dropoff_Latitude', 'Dropoff_Longitude']].iloc[i].to_dict()) for i in range(df_Uber.shape[0])]
df_Uber

,Fare_Amount,Pickup_Date,Pickup_Time,DayofWeek,Pickup_Longitude,Pickup_Latitude,Dropoff_Longitude,Dropoff_Latitude,Passenger_Count,Distance
0,7.50,2015-05-07,19:52:06,Thursday,-73.999817,40.738354,-73.999512,40.723217,1,1.683323
1,7.70,2009-07-17,20:04:56,Friday,-73.994355,40.728225,-73.994710,40.750325,1,2.457590
2,12.90,2009-08-24,21:45:00,Monday,-74.005043,40.740770,-73.962565,40.772647,1,5.036377
3,5.30,2009-06-26,08:22:21,Friday,-73.976124,40.790844,-73.965316,40.803349,3,1.661683
4,16.00,2014-08-28,17:47:00,Thursday,-73.925023,40.744085,-73.973082,40.761247,5,4.475450
5,4.90,2011-02-12,02:27:09,Saturday,-73.969019,40.755910,-73.969019,40.755910,1,0.000000
6,24.50,2014-10-12,07:04:00,Sunday,-73.961447,40.693965,-73.871195,40.774297,5,11.731015
8,9.70,2012-02-17,09:32:00,Friday,-73.975187,40.745767,-74.002720,40.743537,1,2.332711
9,12.50,2012-03-29,19:06:00,Thursday,-74.001065,40.741787,-73.963040,40.775012,1,4.889417
10,6.50,2015-05-22,17:32:27,Friday,-73.974388,40.746952,-73.988586,40.729805,1,2.250858
12,3.30,2011-05-17,14:03:00,Tuesday,-73.966378,40.804440,-73.965890,40.807133,5,0.302252
13,10.90,2011-06-25,11:19:00,Saturday,-73.953352,40.767382,-73.972510,40.796137,1,3.581251
14,6.90,2010-04-06,22:20:27,Tuesday,-73.973370,40.755193,-73.978265,40.766375,1,1.309950
15,9.70,2012-02-21,09:33:00,Tuesday,-73.990718,40.751920,-73.973053,40.744230,2,1.716277
16,4.90,2011-09-01,09:21:40,Thursday,-73.988908,40.756982,-73.981246,40.760050,1,0.729966
17,10.50,2011-03-19,23:58:27,Saturday,-74.005665,40.741138,-73.977830,40.749338,2,2.515950
18,12.00,2015-03-25,08:58:35,Wednesday,-73.962532,40.767189,-73.974457,40.753860,1,1.790320
19,4.90,2009-08-08,00:20:00,Saturday,-73.992075,40.719633,-73.985323,40.727405,1,1.034704
20,10.50,2014-02-18,14:26:00,Tuesday,-73.980022,40.745990,-74.003432,40.759667,1,2.490244
21,5.00,2015-03-03,23:15:03,Tuesday,-73.989189,40.729141,-73.987282,40.720634,2,0.959469
22,4.10,2009-11-26,02:58:00,Thursday,-74.010798,40.726085,-74.009767,40.737402,2,1.261388
23,7.70,2010-09-04,16:12:00,Saturday,-73.994300,40.739512,-73.988070,40.724482,2,1.751763
24,12.90,2010-05-12,22:32:00,Wednesday,-73.972987,40.764040,-74.007820,40.714993,5,6.193236
25,9.50,2009-02-12,17:52:18,Thursday,-73.986059,40.757159,-73.976130,40.780589,1,2.736189
26,5.00,2014-01-21,06:55:00,Tuesday,-73.957802,40.776372,-73.957422,40.782870,1,0.723253
27,12.00,2012-11-21,17:37:19,Wednesday,-73.993909,40.741551,-73.987874,40.770232,1,3.229439
28,4.90,2009-05-06,20:06:23,Wednesday,-73.977780,40.763656,-73.989486,40.772966,1,1.429515
29,7.30,2011-12-24,02:52:00,Saturday,-73.971075,40.787833,-73.944957,40.784302,5,2.233696
30,25.70,2011-05-21,09:00:00,Saturday,-73.944815,40.834367,-73.989332,40.721920,4,13.053312
31,7.70,2009-02-28,15:54:57,Saturday,-74.004184,40.712975,-73.988385,40.725102,1,1.895047
...,...,...,...,...,...,...,...,...,...,...
199969,14.00,2013-05-18,21:14:00,Saturday,-73.973355,40.754322,-73.999122,40.743042,5,2.506924
199970,7.00,2012-11-29,07:49:50,Thursday,-73.990789,40.739695,-73.999231,40.749808,1,1.330534
199971,8.10,2012-04-07,22:56:00,Saturday,-74.004430,40.708112,-74.000380,40.735438,1,3.057621
199972,45.00,2010-08-20,13:19:55,Friday,-73.786833,40.639842,-74.001215,40.722429,1,20.276438
199973,7.00,2012-11-07,17:53:00,Wednesday,-73.963912,40.765222,-73.950372,40.783622,2,2.342224
199974,15.00,2013-12-28,23:06:00,Saturday,-73.990217,40.759230,-73.968513,40.800770,1,4.967406
199975,8.50,2009-11-20,19:00:30,Friday,-73.990036,40.741504,-74.005305,40.715368,1,3.178267
199977,43.50,2012-11-20,21:04:30,Tuesday,-73.996671,40.737483,-73.867758,40.897563,1,20.845322
199978,10.10,2009-04-15,08:25:01,Wednesday,-73.991001,40.749197,-73.964205,40.774161,1,3.577531
199979,6.00,2014-06-08,21:38:43,Sunday,-73.975209,40.752767,-73.963186,40.757905,2,1.162745
199980,10.00,2012-10-22,11:18:32,Monday,-73.955423,40.764243,-73.985871,40.769660,1,2.634002
199981,9.00,2014-06-02,21:51:50,Monday,-73.980445,40.761823,-73.954004,40.784407,1,3.356153
199982,57.33,2014-08-06,11:06:06,Wednesday,-73.969204,40.754771,-73.790351,40.643802,1,19.483047
199983,4.50,2009-08-29,02:36:56,Saturday,-74.005619,40.726378,-74.004342,40.721851,1,0.514754
199984,9.00,2015-06-08,12:34:33,Monday,-73.988243,40.759258,-73.972778,40.755070,1,1.383334
199985,24.00,2015-04-18,15:16:06,Saturday,-74.005089,40.737301,-73.945290,40.774162,5,6.493880
199986,12.00,2013-09-07,09:54:32,Saturday,-73.964772,40.760174,-73.996794,40.763152,1,2.717229
199987,8.50,2011-04-30,00:09:16,Saturday,-73.987260,40.725714,-74.006316,40.739611,2,2.228447
199988,3.70,2011-10-09,02:02:40,Sunday,-73.988674,40.739342,-73.990730,40.738980,1,0.177836
199989,8.90,2010-02-18,07:12:00,Thursday,-73.969152,40.790982,-73.967073,40.766705,1,2.705149
199990,12.00,2015-05-24,22:05:56,Sunday,-73.987106,40.741894,-73.952240,40.772957,1,4.533744
199991,17.50,2015-06-08,10:49:14,Monday,-73.981453,40.743919,-74.013908,40.712635,1,4.424986
199992,8.90,2010-01-30,16:24:00,Saturday,-74.003548,40.714045,-73.991053,40.684500,1,3.449991
199993,9.50,2012-09-29,19:51:27,Saturday,-73.987798,40.721210,-73.980960,40.744388,1,2.640893
199994,12.00,2014-01-31,14:42:00,Friday,-73.983070,40.760770,-73.972972,40.754177,1,1.122878
199995,3.00,2012-10-28,10:49:00,Sunday,-73.987042,40.739367,-73.986525,40.740297,1,0.112210
199996,7.50,2014-03-14,01:09:00,Friday,-73.984722,40.736837,-74.006672,40.739620,1,1.875050
199997,30.90,2009-06-29,00:42:00,Monday,-73.986017,40.756487,-73.858957,40.692588,2,12.850319
199998,14.50,2015-05-20,14:56:25,Wednesday,-73.997124,40.725452,-73.983215,40.695416,1,3.539715
199999,14.10,2010-05-15,04:08:00,Saturday,-73.984395,40.720077,-73.985508,40.768793,1,5.417783

#### Export the data as csv

In [126]:
df_Uber.to_csv(r'D:\IEOR4501Project\Uber_Data.csv', index = None, header=True)

### Processing Weather Data
#### Import weather data

In [9]:
# Loading all weather data from 2009 to 2015
df_Weather_2009 = pd.read_csv(r'C:\Users\siqie\Desktop\2009_weather.csv')
df_Weather_2010 = pd.read_csv(r'C:\Users\siqie\Desktop\2010_weather.csv')
df_Weather_2011 = pd.read_csv(r'C:\Users\siqie\Desktop\2011_weather.csv')
df_Weather_2012 = pd.read_csv(r'C:\Users\siqie\Desktop\2012_weather.csv')
df_Weather_2013 = pd.read_csv(r'C:\Users\siqie\Desktop\2013_weather.csv')
df_Weather_2014 = pd.read_csv(r'C:\Users\siqie\Desktop\2014_weather.csv')
df_Weather_2015 = pd.read_csv(r'C:\Users\siqie\Desktop\2015_weather.csv')

C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,9,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (17,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,9,17,18,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\siqie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10,41,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Remove unnecessary columns for each dataset

In [10]:
# Since there are too many columns we want to delete, we used "column number" method to clean the data
df_Weather_2009 = df_Weather_2009.drop(df_Weather_2009.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2010 = df_Weather_2010.drop(df_Weather_2010.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2011 = df_Weather_2011.drop(df_Weather_2011.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2012 = df_Weather_2012.drop(df_Weather_2012.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2013 = df_Weather_2013.drop(df_Weather_2013.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2014 = df_Weather_2014.drop(df_Weather_2014.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2015 = df_Weather_2015.drop(df_Weather_2015.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)

#### Put together hourly weather data

In [11]:
# Since we will only focus on the weather from 2012 to 2014, then we only clean up what we need.
## All the hourly data has REPORT_TYPE: FM-15, so we only select FM-15
df_Weather_2012_hourly = df_Weather_2012[df_Weather_2012['REPORT_TYPE'].str.contains('FM-15')]
df_Weather_2013_hourly = df_Weather_2013[df_Weather_2013['REPORT_TYPE'].str.contains('FM-15')]
df_Weather_2014_hourly = df_Weather_2014[df_Weather_2014['REPORT_TYPE'].str.contains('FM-15')]

## Put 3 hourly data into one hourly weather data
frames1 = [df_Weather_2012_hourly, df_Weather_2013_hourly, df_Weather_2014_hourly]
df_Weather_hourly = pd.concat(frames1)

#### Clean up hourly weather data

In [12]:
# Delete unnecessary columns from the table (Most of the daily data). 
df_Weather_hourly = df_Weather_hourly.drop(df_Weather_hourly.columns[[9,10,11,12,13,14,15,16,17]], axis=1)


# Split Datatime to Date and Time
df_Weather_hourly['TIME']=df_Weather_hourly['DATE'].str.slice(11,19) # Create a new column that only has time

# Move TIME column right after DATE column
TIME = df_Weather_hourly["TIME"]
df_Weather_hourly.drop(labels=["TIME"], axis=1, inplace=True)
df_Weather_hourly.insert(1, "TIME", TIME)


# Only leave the date information in "DATE" column
df_Weather_hourly['DATE'] = df_Weather_hourly['DATE'].str[:-9]
df_Weather_hourly

# Add a new column that indicates days of a week
df_Weather_hourly['DATE'] = pd.to_datetime(df_Weather_hourly['DATE'])
df_Weather_hourly['DayofWeek'] = df_Weather_hourly['DATE'].dt.day_name()

# Move DayofWeek column right after TIME
DayofWeek = df_Weather_hourly["DayofWeek"]
df_Weather_hourly.drop(labels=["DayofWeek"], axis=1, inplace=True)
df_Weather_hourly.insert(2, "DayofWeek", DayofWeek)

# Replace T in Precipitation column with 0 since T means trace amount and we would like to have it as an integer
df_Weather_hourly['HourlyPrecipitation'].replace({"T": 0}, inplace=True)

#### Put together daily weather data

In [13]:
# For daily data we will also focus on 2012 to 2014
## All the daily data has REPORT_TYPE: SOD, so we only select SOD data.
df_Weather_2012_daily = df_Weather_2012[df_Weather_2012['REPORT_TYPE'].str.contains('SOD')]
df_Weather_2013_daily = df_Weather_2013[df_Weather_2013['REPORT_TYPE'].str.contains('SOD')]
df_Weather_2014_daily = df_Weather_2014[df_Weather_2014['REPORT_TYPE'].str.contains('SOD')]

## Put 3 daily data into one hourly weather data
frames2 = [df_Weather_2012_daily, df_Weather_2013_daily, df_Weather_2014_daily]
df_Weather_daily = pd.concat(frames2)

#### Clean up daily weather data

In [14]:
# Delete unnecessary columns (hourly data)
df_Weather_daily = df_Weather_daily.drop(df_Weather_daily.columns[[2,3,4,5,6]], axis=1)
df_Weather_daily

# Change the column name of "DailySustainedWindSpeed" to "SustainedWindSpeed"
df_Weather_daily.rename(columns={"DailySustainedWindSpeed":"SustainedWindSpeed"}, inplace = True)

# Only leave date information in DATE column
df_Weather_daily['DATE'] = df_Weather_daily['DATE'].str[:-9]
df_Weather_daily

# Add a new column that indicates days of a week
df_Weather_daily['DATE'] = pd.to_datetime(df_Weather_daily['DATE'])
df_Weather_daily['DayofWeek'] = df_Weather_daily['DATE'].dt.day_name()


# Move DayofWeek column right after TIME
DayofWeek = df_Weather_daily["DayofWeek"]
df_Weather_daily.drop(labels=["DayofWeek"], axis=1, inplace=True)
df_Weather_daily.insert(1, "DayofWeek", DayofWeek)
df_Weather_daily

# Replace T in Precipitation column with 0 since T means trace amount and we would like to have it as an integer
df_Weather_daily['DailyPrecipitation'].replace({"T": 0}, inplace=True)



# The column names are already normalized, no further action needed.
# Based on what is needed from this data, there's no more invalid data point that must be removed.

#### Generate values for hourly sustained wind speed

In [15]:
df_Weather_hourly = pd.merge(df_Weather_hourly, df_Weather_daily.loc[:,['DATE', 'SustainedWindSpeed']], how='left', on='DATE')
df_Weather_hourly

,DATE,TIME,DayofWeek,REPORT_TYPE,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyWindGustSpeed,HourlyWindSpeed,Sunrise,Sunset,SustainedWindSpeed
0,2012-01-01,06:00:00,Sunday,FM-15,36,37,NaN,NaN,8.0,NaN,NaN,NaN
1,2012-01-01,08:00:00,Sunday,FM-15,36,37,NaN,NaN,0.0,NaN,NaN,NaN
2,2012-01-12,08:00:00,Thursday,FM-15,43,43,0.03,NaN,0.0,NaN,NaN,NaN
3,2012-01-17,15:00:00,Tuesday,FM-15,41,43,0.01,18.0,10.0,NaN,NaN,NaN
4,2012-01-27,01:00:00,Friday,FM-15,39,41,NaN,NaN,3.0,NaN,NaN,NaN
5,2012-01-27,03:00:00,Friday,FM-15,43,43,NaN,NaN,5.0,NaN,NaN,NaN
6,2012-01-27,07:00:00,Friday,FM-15,48,48,0,NaN,7.0,NaN,NaN,NaN
7,2012-01-27,11:00:00,Friday,FM-15,55,55,0.01,NaN,3.0,NaN,NaN,NaN
8,2012-02-02,00:51:00,Thursday,FM-15,34,48,NaN,NaN,5.0,NaN,NaN,NaN
9,2012-02-02,01:51:00,Thursday,FM-15,32,46,NaN,NaN,3.0,NaN,NaN,NaN
10,2012-02-02,02:51:00,Thursday,FM-15,30,45,NaN,NaN,5.0,NaN,NaN,NaN
11,2012-02-02,03:51:00,Thursday,FM-15,30,45,NaN,17.0,8.0,NaN,NaN,NaN
12,2012-02-02,04:51:00,Thursday,FM-15,30,43,NaN,NaN,0.0,NaN,NaN,NaN
13,2012-02-02,05:51:00,Thursday,FM-15,30,43,NaN,NaN,0.0,NaN,NaN,NaN
14,2012-02-02,06:51:00,Thursday,FM-15,30,43,NaN,NaN,5.0,NaN,NaN,NaN
15,2012-02-02,07:51:00,Thursday,FM-15,30,41,NaN,NaN,7.0,NaN,NaN,NaN
16,2012-02-02,08:51:00,Thursday,FM-15,30,43,NaN,NaN,11.0,NaN,NaN,NaN
17,2012-02-08,21:00:00,Wednesday,FM-15,28,32,0,NaN,0.0,NaN,NaN,NaN
18,2012-02-09,00:00:00,Thursday,FM-15,28,30,0,NaN,7.0,NaN,NaN,NaN
19,2012-02-11,01:51:00,Saturday,FM-15,28,36,0,NaN,3.0,NaN,NaN,NaN
20,2012-02-11,02:51:00,Saturday,FM-15,30,34,0,NaN,0.0,NaN,NaN,NaN
21,2012-02-11,03:51:00,Saturday,FM-15,30,34,0.01,NaN,3.0,NaN,NaN,NaN
22,2012-02-11,04:51:00,Saturday,FM-15,32,34,0.03,NaN,3.0,NaN,NaN,NaN
23,2012-02-11,05:51:00,Saturday,FM-15,32,34,0,NaN,0.0,NaN,NaN,NaN
24,2012-02-11,06:51:00,Saturday,FM-15,32,34,0.02,NaN,0.0,NaN,NaN,NaN
25,2012-02-11,07:51:00,Saturday,FM-15,30,34,0,NaN,5.0,NaN,NaN,NaN
26,2012-02-11,08:51:00,Saturday,FM-15,30,34,0,NaN,7.0,NaN,NaN,NaN
27,2012-02-11,09:51:00,Saturday,FM-15,30,34,0.01,NaN,0.0,NaN,NaN,NaN
28,2012-02-15,17:00:00,Wednesday,FM-15,34,45,NaN,NaN,3.0,NaN,NaN,NaN
29,2012-02-20,00:51:00,Monday,FM-15,19,36,NaN,22.0,14.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
21388,2014-12-30,18:51:00,Tuesday,FM-15,9,31,0.00,NaN,NaN,NaN,NaN,10.0
21389,2014-12-30,19:51:00,Tuesday,FM-15,8,30,0.00,NaN,6.0,NaN,NaN,10.0
21390,2014-12-30,20:51:00,Tuesday,FM-15,8,29,0.00,NaN,6.0,NaN,NaN,10.0
21391,2014-12-30,21:51:00,Tuesday,FM-15,9,29,0.00,NaN,0.0,NaN,NaN,10.0
21392,2014-12-30,22:51:00,Tuesday,FM-15,9,28,0.00,NaN,0.0,NaN,NaN,10.0
21393,2014-12-30,23:51:00,Tuesday,FM-15,10,28,0.00,NaN,0.0,NaN,NaN,10.0
21394,2014-12-31,00:51:00,Wednesday,FM-15,10,29,0.00,NaN,0.0,NaN,NaN,14.0
21395,2014-12-31,01:51:00,Wednesday,FM-15,10,29,0.00,NaN,0.0,NaN,NaN,14.0
21396,2014-12-31,02:51:00,Wednesday,FM-15,10,30,0.00,NaN,0.0,NaN,NaN,14.0
21397,2014-12-31,03:51:00,Wednesday,FM-15,12,30,0.00,NaN,5.0,NaN,NaN,14.0
21398,2014-12-31,04:51:00,Wednesday,FM-15,11,30,0.00,17.0,9.0,NaN,NaN,14.0
21399,2014-12-31,05:51:00,Wednesday,FM-15,11,28,0.00,NaN,3.0,NaN,NaN,14.0
21400,2014-12-31,06:51:00,Wednesday,FM-15,12,27,0.00,NaN,9.0,NaN,NaN,14.0
21401,2014-12-31,07:51:00,Wednesday,FM-15,12,27,0.00,NaN,3.0,NaN,NaN,14.0
21402,2014-12-31,08:51:00,Wednesday,FM-15,10,27,0.00,NaN,10.0,NaN,NaN,14.0
21403,2014-12-31,09:51:00,Wednesday,FM-15,8,28,0.00,NaN,9.0,NaN,NaN,14.0
21404,2014-12-31,10:51:00,Wednesday,FM-15,7,30,0.00,NaN,9.0,NaN,NaN,14.0
21405,2014-12-31,11:51:00,Wednesday,FM-15,6,31,0.00,21.0,6.0,NaN,NaN,14.0
21406,2014-12-31,12:51:00,Wednesday,FM-15,5,31,0.00,17.0,10.0,NaN,NaN,14.0
21407,2014-12-31,13:51:00,Wednesday,FM-15,6,31,0.00,NaN,3.0,NaN,NaN,14.0
21408,2014-12-31,14:51:00,Wednesday,FM-15,6,32,0.00,NaN,3.0,NaN,NaN,14.0
21409,2014-12-31,15:51:00,Wednesday,FM-15,5,32,0.00,NaN,9.0,NaN,NaN,14.0
21410,2014-12-31,16:51:00,Wednesday,FM-15,5,31,0.00,NaN,NaN,NaN,NaN,14.0
21411,2014-12-31,17:51:00,Wednesday,FM-15,6,30,0.00,NaN,9.0,NaN,NaN,14.0
21412,2014-12-31,18:51:00,Wednesday,FM-15,7,30,0.00,NaN,3.0,NaN,NaN,14.0
21413,2014-12-31,19:51:00,Wednesday,FM-15,7,30,0.00,NaN,5.0,NaN,NaN,14.0
21414,2014-12-31,20:51:00,Wednesday,FM-15,6,30,0.00,NaN,3.0,NaN,NaN,14.0
21415,2014-12-31,21:51:00,Wednesday,FM-15,8,30,0.00,NaN,5.0,NaN,NaN,14.0
21416,2014-12-31,22:51:00,Wednesday,FM-15,9,29,0.00,NaN,NaN,NaN,NaN,14.0
21417,2014-12-31,23:51:00,Wednesday,FM-15,9,28,0.00,NaN,5.0,NaN,NaN,14.0

#### Export Weather data into csv files

In [11]:
df_Weather_hourly.to_csv(r'D:\IEOR4501Project\Weather_hourly_Data.csv', index = None, header=True)
df_Weather_daily.to_csv(r'D:\IEOR4501Project\Weather_daily_Data.csv', index = None, header=True)

### Yellow Taxi Data

In [2]:
import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db

import re

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

In [4]:
# Get UBER data and count the number of rows in each month

def load_and_clean_uber_data(csv_file):
    
    df = pd.read_csv (csv_file)
    
    del df["Unnamed: 0"]
    del df["key"]
    df = df[df["pickup_longitude"] <= -73.717047]
    df = df[df["pickup_longitude"] >= -74.242330]
    df = df[df["dropoff_longitude"] <= -73.717047]
    df = df[df["dropoff_longitude"] >= -74.242330]
    df = df[df["pickup_latitude"] <= 40.908524]
    df = df[df["pickup_latitude"] >= 40.560445]
    df = df[df["dropoff_latitude"] <= 40.908524]
    df = df[df["dropoff_latitude"] >= 40.560445]
    
    # df.to_csv('uber_data.csv')
    return df
    
    # raise NotImplemented()
    
def get_uber_data():
    
    uber_dataframe = load_and_clean_uber_data(r'/Users/sandyfan/Desktop/project/uber_rides_sample.csv')
    # uber_dataframe = load_and_clean_uber_data(r'/content/gdrive/My Drive//uber_rides_sample.csv')
    
    # add_distance_column(uber_dataframe)
    
    return uber_dataframe

In [5]:
def find_taxi_csv_urls():
    
    #content = requests.get('https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page')
    content = requests.get(TAXI_URL)
        
    soup = bs4.BeautifulSoup(content.text, 'html.parser')
    
    links = []
    for x in [a['href'] for a in soup.find_all('a')]:
        string = x
        pattern = re.compile(r"https://s3.amazonaws.com/nyc-tlc/trip\+\bdata/yell.*[\W_]csv")
        match = pattern.findall(string)
        if match != []:
            a = match[0]
            links.append(a)
            
    yellow_taxi = links[54:]   # get the links of all years that we need 
    
    
    return yellow_taxi
    
    # raise NotImplemented()

In [6]:
def get_month_taxi_data(url,year,month):
    
    taxi_link = pd.read_csv(url)
    #taxi_link  = pd.read_csv(url,on_bad_lines='skip')
    
    # removing trips that start and/or end outside
    #taxi_link = taxi_link[taxi_link["pickup_longitude"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["pickup_longitude"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["dropoff_longitude"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["dropoff_longitude"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["pickup_latitude"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["pickup_latitude"] >= 40.560445]
    #taxi_link = taxi_link[taxi_link["dropoff_latitude"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["dropoff_latitude"] >= 40.560445]

    # FOR 2014 dataset: different format of columns' names
    # print(taxi_link_2014.columns.tolist()) -- check columns' names
    taxi_link = taxi_link[taxi_link[" pickup_longitude"] <= -73.717047]
    taxi_link = taxi_link[taxi_link[" pickup_longitude"] >= -74.242330]
    taxi_link = taxi_link[taxi_link[" dropoff_longitude"] <= -73.717047]
    taxi_link = taxi_link[taxi_link[" dropoff_longitude"] >= -74.242330]
    taxi_link = taxi_link[taxi_link[" pickup_latitude"] <= 40.908524]
    taxi_link = taxi_link[taxi_link[" pickup_latitude"] >= 40.560445]
    taxi_link = taxi_link[taxi_link[" dropoff_latitude"] <= 40.908524]
    taxi_link = taxi_link[taxi_link[" dropoff_latitude"] >= 40.560445]

    #taxi_link = taxi_link[taxi_link["Start_Lon"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["Start_Lon"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["End_Lon"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["End_Lon"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["Start_Lat"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["Start_Lat"] >= 40.560445]
    #taxi_link = taxi_link[taxi_link["End_Lat"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["End_Lat"] >= 40.560445]
    
    sample_data = taxi_link.sample(month_name_values[year][month])
    
    return sample_data

### Get & Clean Sample Data
### Too slow to run -- run in colab -- DO NOT RUN THIS PART

In [ ]:
def get_and_clean_taxi_data_2015():      
    
    taxi_dataframes_2015 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(6):    # set as 6 b/c there are only first six months uber data in 2015

        dataframe = get_month_taxi_data(all_csv_urls[i],2015,i+1)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2015.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2015 = pd.concat(taxi_dataframes_2015)
    return taxi_data_2015

In [ ]:
yellow_taxi_2015 = get_and_clean_taxi_data_2015()
yellow_taxi_2015.to_csv('yellow_2015.csv')

In [ ]:
def get_and_clean_taxi_data_2014():      
    
    taxi_dataframes_2014 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(12,24):

        dataframe = get_month_taxi_data(all_csv_urls[i],2014,i-11)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2014.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2014 = pd.concat(taxi_dataframes_2014)
    return taxi_data_2014

In [ ]:
yellow_taxi_2014 = get_and_clean_taxi_data_2014()
yellow_taxi_2014.to_csv('yellow_2014.csv')

In [ ]:
def get_and_clean_taxi_data_2013():      
    
    taxi_dataframes_2013 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(24,36):

        dataframe = get_month_taxi_data(all_csv_urls[i],2013,i-23)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2013.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2013 = pd.concat(taxi_dataframes_2013)
    return taxi_data_2013

In [ ]:
yellow_taxi_2013 = get_and_clean_taxi_data_2013()
yellow_taxi_2013.to_csv('yellow_2013.csv')

In [ ]:
def get_and_clean_taxi_data_2012():      
    
    taxi_dataframes_2012 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(36,48):

        dataframe = get_month_taxi_data(all_csv_urls[i],2012,i-35)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2012.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2012 = pd.concat(taxi_dataframes_2012)
    
    return taxi_data_2012

In [ ]:
yellow_taxi_2012 = get_and_clean_taxi_data_2012()
yellow_taxi_2012.to_csv('/content/gdrive/My Drive/yellow_2012.csv')

In [ ]:
def get_and_clean_taxi_data_2011():      
    
    taxi_dataframes_2011 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(48,60):

        dataframe = get_month_taxi_data(all_csv_urls[i],2011,i-47)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2011.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2011 = pd.concat(taxi_dataframes_2011)
    
    return taxi_data_2011

In [ ]:
yellow_taxi_2011 = get_and_clean_taxi_data_2011()
yellow_taxi_2011.to_csv('/content/gdrive/My Drive/yellow_2011.csv')

In [ ]:
def get_and_clean_taxi_data_2010():      
    
    taxi_dataframes_2010 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(60,72):

        dataframe = get_month_taxi_data(all_csv_urls[i],2010,i-59)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2010.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2010 = pd.concat(taxi_dataframes_2010)
    return taxi_data_2010

In [ ]:
yellow_taxi_2010 = get_and_clean_taxi_data_2010()
yellow_taxi_2010.to_csv('/content/gdrive/My Drive/yellow_2010.csv')

In [ ]:
def get_and_clean_taxi_data_2009():      
    
    taxi_dataframes_2009 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(72,84):

        dataframe = get_month_taxi_data(all_csv_urls[i],2009,i-71)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2009.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2009 = pd.concat(taxi_dataframes_2009)
    return taxi_data_2009

In [ ]:
yellow_taxi_2009 = get_and_clean_taxi_data_2009()
yellow_taxi_2009.to_csv('/content/gdrive/My Drive/yellow_2009.csv')

### After get all Taxi Sample Data  -- 195472 Rows
### Load saved data from local location

In [7]:
data_taxi_2009 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2009.csv')
data_taxi_2010 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2010.csv')
data_taxi_2011 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2011.csv')
data_taxi_2012 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2012.csv')
data_taxi_2013 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2013.csv')
data_taxi_2014 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2014.csv')
data_taxi_2015 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2015.csv')

In [8]:
# Rename the columns' names of data_taxi_2009

data_taxi_2009 = data_taxi_2009.rename(columns={"vendor_name": "vendor_id", "Trip_Pickup_DateTime": "pickup_datetime",
                               "Trip_Dropoff_DateTime": "dropoff_datetime","Passenger_Count": "passenger_count",
                               "Trip_Distance": "trip_distance","Start_Lon": "pickup_longitude",
                               "Start_Lat": "pickup_latitude","Rate_Code": "rate_code",
                               "store_and_forward": "store_and_fwd_flag","End_Lon": "dropoff_longitude",
                               "End_Lat": "dropoff_latitude","Payment_Type": "payment_type",
                               "Fare_Amt": "fare_amount","Tip_Amt": "tip_amount","surcharge":"extra",
                               "Tolls_Amt": "tolls_amount","Total_Amt": "total_amount"})

In [25]:
def combine_and_clean_all_data():
    
    all_origin_data = [data_taxi_2009,data_taxi_2010,data_taxi_2011,data_taxi_2012,data_taxi_2013,
                       data_taxi_2014,data_taxi_2015]
    
    all_cleaned_data = []
    
    for data in all_origin_data:
        
        # Select 13 useful columns
        data_cleaned = pd.DataFrame(data, columns = ["pickup_datetime","dropoff_datetime",
                                                            "passenger_count","trip_distance","pickup_longitude",
                                                            "pickup_latitude","dropoff_longitude","dropoff_latitude",
                                                            "fare_amount","extra","tip_amount","tolls_amount",
                                                            "total_amount"])
        
        
        
        # add_distance_column(dataframe)
        
        all_cleaned_data.append(data_cleaned)
    
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_cleaned_data)
    # save data
    taxi_data.to_csv('final_taxi_data.csv')
    
    return taxi_data

## Part 2: Storing Cleaned Data

In [ ]:
uber_data =  pd.read_csv (r'/Users/sandyfan/Desktop/project/final_uber_data.csv')
taxi_data =  pd.read_csv (r'/Users/sandyfan/Desktop/project/final_taxi_data.csv')
hourly_data = pd.read_csv (r'/Users/sandyfan/Desktop/project/Weather_hourly_Data.csv')
daily_data = pd.read_csv (r'/Users/sandyfan/Desktop/project/Weather_daily_Data.csv')

In [92]:
# first create a connection - we'll create a new database

DATABASE_URL = "sqlite:///project_1.db"

engine = db.create_engine(DATABASE_URL)

In [93]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS HourlyWeather
(
    HourlyWeather_id INTEGER PRIMARY KEY AUTOINCREMENT,
    DATE DATE,
    TIME TIME,
    DayofWeek TEXT,
    REPORT_TYPE TEXT,
    HourlyDewPointTemperature INTEGER,
    HourlyDryBulbTemperature INTEGER,
    HourlyPrecipitation REAL,
    HourlyWindGustSpeed INTEGER,
    HourlyWindSpeed INTEGER,
    Sunrise INTEGER,
    Sunset INTEGER,
    SustainedWindSpeed INTEGER
)
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS DailyWeather
(
    DailyWeather_id INTEGER PRIMARY KEY AUTOINCREMENT,
    DATE DATE,
    DayofWeek TEXT,
    REPORT_TYPE TEXT,
    Sunrise INTEGER,
    Sunset INTEGER,
    DailyAverageDewPointTemperature INTEGER,
    DailyAverageDryBulbTemperature INTEGER,
    DailyAverageWindSpeed REAL,
    DailyMaximumDryBulbTemperature INTEGER,
    DailyMinimumDryBulbTemperature INTEGER,
    DailyPeakWindDirection INTEGER,
    DailyPeakWindSpeed INTEGER,
    DailyPrecipitation REAL,
    SustainedWindSpeed INTEGER
)
"""

TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS TaxiRides
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    pickup_datetime DATETIME,
    dropoff_datetime DATETIME,
    passenger_count INTEGER,
    trip_distance REAL,
    pickup_longitude REAL,
    pickup_latitude REAL,
    dropoff_longitude REAL,
    dropoff_latitude REAL,
    fare_amount REAL,
    extra REAL,
    tip_amount REAL,
    tolls_amount REAL,
    total_amount REAL

"""


UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS UberRides
(
    UberRides_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Pickup_Date DATE,
    Pickup_Time TIME,
    DayofWeek TEXT,
    Pickup_Longitude REAL,
    Pickup_Latitude REAL,
    Dropoff_Longitude REAL,
    Dropoff_Latitude REAL,
    Passenger_Count INTEGER,
    Distance REAL
)
"""

In [94]:
# create that required schema.sql file

with open("schema.sql", "w") as f: 
    
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [95]:
# create the tables with the schema files

with engine.connect() as connection:
    pass

#### Create sqlalchemy database

In [2]:
from sqlalchemy import Column, Integer, String, DateTime, Date, Time, Float, DateTime
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
os.chdir(r'D:\IEOR4501Project')

engine = db.create_engine(DATABASE_URL)

Base = declarative_base()

class HOURLY_WEATHER_SCHEMA(Base):
    __tablename__ = 'HOURLY_WEATHER_SCHEMA'

    
    HourlyWeather_id = Column(Integer, primary_key = True)
    DATE = Column(Date)
    TIME = Column(Time)
    DayofWeek = Column(String)
    REPORT_TYPE = Column(String)
    HourlyDewPointTemperature = Column(Integer)
    HourlyDryBulbTemperature = Column(Integer)
    HourlyPrecipitation = Column(Float)
    HourlyWindGustSpeed = Column(Integer)
    HourlyWindSpeed = Column(Integer)
    Sunrise = Column(Integer)
    Sunset = Column(Integer)
    SustainedWindSpeed = Column(Integer)


Base.metadata.create_all(engine)


file_name = "Weather_hourly_Data.csv"

df_Weather_Hourly = pd.read_csv(file_name)

df_Weather_Hourly.to_sql(con=engine, name = HOURLY_WEATHER_SCHEMA.__tablename__, if_exists='append', index=False)

session = sessionmaker()
session.configure(bind=engine)
s = session()

result1 = s.query(HOURLY_WEATHER_SCHEMA).limit(10).all()
result1

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\IEOR4501Project'

In [99]:
from sqlalchemy import Column, Integer, String, DateTime, Date, Time, Float, DateTime
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
os.chdir(r'D:\IEOR4501Project')

engine = db.create_engine(DATABASE_URL)

Base = declarative_base()

class TAXI_TRIPS_SCHEMA(Base):
   __tablename__ = 'TAXI_TRIPS_SCHEMA'

    
    id = Column(Integer, Primary_Key = True)
    pickup_datetime = Column(DateTime)
    dropoff_datetime = Column(DateTime)
    passenger_count = Column(Integer)
    trip_distance = Column(Float)
    pickup_longitude = Column(Float)
    pickup_latitude = Column(Float)
    dropoff_longitude = Column(Float)
    dropoff_latitude = Column(Float)
    fare_amount = Column(Float)
    extra = Column(Float)
    tip_amount = Column(Float)
    tolls_amount = Column(Float)
    total_amount = Column(Float)


Base.metadata.create_all(engine)


file_name = "final_taxi_data.csv"

TAXI_TRIPS_SCHEMA = pd.read_csv(file_name)

TAXI_TRIPS_SCHEMA.to_sql(con=engine, name = TAXI_TRIPS_SCHEMA.__tablename__, if_exists='append', index=False)

session = sessionmaker()
session.configure(bind=engine)
t = session()

result2 = t.query(TAXI_TRIPS_SCHEMA).limit(10).all()
result2

IndentationError: unexpected indent (<ipython-input-99-c391a93c189d>, line 15)

### Add Data to Database

In [ ]:
from sqlalchemy.orm import sessionmaker

def dataframes_to_table(table_name):
    
    table_name["taxi_trips"].to_sql(name = "TaxiRides",con = engine)
    table_name["uber_trips"].to_sql(name = "UberRides",con = engine)
    table_name["hourly_weather"].to_sql(name = "HourlyWeather",con = engine)
    table_name["daily_weather"].to_sql(name = "DailyWeather",con = engine)

In [ ]:
table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

dataframes_to_table(table_name_to_dataframe)

In [ ]:
!sqlite3 project_1.db < schema.sql