## Part 1. Data Processing

In [3]:
import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import sqlite3
import numpy as np
import matplotlib as mpl

In [4]:
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

### Calculating Distance

In [58]:
from math import radians, cos, sin, asin, sqrt, atan, atan2
# longitude and latitude of pickup and dropoff locations
def calculate_distance(Pickup_Longitude, Pickup_Latitude, Dropoff_Longitude, Dropoff_Latitude):
    # transfer numbers to radius
    Pickup_Longitude = radians(Pickup_Longitude)
    Pickup_Latitude = radians(Pickup_Latitude)
    Dropoff_Longitude = radians(Dropoff_Longitude)
    Dropoff_Latitude = radians(Dropoff_Latitude)
    # the formulas of calculate_distance
    dlon = Dropoff_Longitude - Pickup_Longitude
    dlat = Dropoff_Latitude - Pickup_Latitude
    a = sin(dlat/2)**2 + cos(Pickup_Latitude) * cos(Dropoff_Latitude) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    r = 6371 # The Average Radius of Earth
    Distance = c*r
    return Distance

### Processing Uber Data
#### Import Uber Data

In [115]:
df_Uber = pd.read_csv(r'C:\Users\siqie\Desktop\uber_rides_sample.csv') # Load the data for Uber Rides

#### Clean Uber data by deleting unused columns

In [116]:
# Delete the unused columns from Uber data
del df_Uber["Unnamed: 0"]   
del df_Uber["key"]

#### Normalize the column names

In [117]:
df_Uber.rename(columns={
                        'fare_amount':'Fare_Amount', 
                        'pickup_datetime':'Pickup_DateTime', 
                        'pickup_longitude':'Pickup_Longitude', 
                        'pickup_latitude':'Pickup_Latitude',
                        'dropoff_longitude':'Dropoff_Longitude',
                        'dropoff_latitude':'Dropoff_Latitude',
                        'passenger_count':'Passenger_Count'
                       }, inplace = True)

#### Only include rides that's in our circled area

In [118]:
# Circle the areas that we are considering: ((40.560445, -74.242330), (40.908524, -73.717047))
df_Uber=df_Uber[df_Uber["Pickup_Longitude"] <= -73.717047]  
df_Uber=df_Uber[df_Uber["Pickup_Longitude"] >= -74.242330]
df_Uber=df_Uber[df_Uber["Pickup_Latitude"] >= 40.560445]
df_Uber=df_Uber[df_Uber["Pickup_Latitude"] <= 40.908524]
df_Uber=df_Uber[df_Uber["Dropoff_Longitude"] <= -73.717047]
df_Uber=df_Uber[df_Uber["Dropoff_Longitude"] >= -74.242330]
df_Uber=df_Uber[df_Uber["Dropoff_Latitude"] >= 40.560445]
df_Uber=df_Uber[df_Uber["Dropoff_Latitude"] <= 40.908524]
# Remove all the rows that has cordinates with 0, which are considered as invalid value. 
df_Uber=df_Uber[df_Uber.Pickup_Longitude != 0]
df_Uber=df_Uber[df_Uber.Pickup_Latitude != 0]
df_Uber=df_Uber[df_Uber.Dropoff_Longitude != 0]
df_Uber=df_Uber[df_Uber.Dropoff_Latitude != 0]

#### Seperate Date and Time

In [120]:
## Seperate Date and Time for Taxi data, add Day of Week
df_Uber['Pickup_DateTime'] = pd.to_datetime(df_Uber['Pickup_DateTime'])
df_Uber['Pickup_Date'] = [d.date() for d in df_Uber['Pickup_DateTime']]
df_Uber['Pickup_Time'] = [d.time() for d in df_Uber['Pickup_DateTime']]

df_Uber['DayofWeek'] = df_Uber['Pickup_DateTime'].dt.day_name()

## Move the Date, Time and Day of Week columns to front
Pickup_Date1 = df_Uber['Pickup_Date']
df_Uber.drop(labels=['Pickup_Date'], axis=1, inplace=True)
df_Uber.insert(2, "Pickup_Date", Pickup_Date1)

Pickup_Time1 = df_Uber['Pickup_Time']
df_Uber.drop(labels=['Pickup_Time'], axis=1, inplace=True)
df_Uber.insert(3, "Pickup_Time", Pickup_Time1)


DayofWeek1 = df_Uber['DayofWeek']
df_Uber.drop(labels=['DayofWeek'], axis=1, inplace=True)
df_Uber.insert(4, "DayofWeek", DayofWeek1)

## Split Year, Month, Date, and hour into seperate columns
df_Uber['Year'] = df_Uber['Pickup_DateTime'].dt.year
df_Uber['Month'] = df_Uber['Pickup_DateTime'].dt.month
df_Uber['Day'] = df_Uber['Pickup_DateTime'].dt.day
df_Uber['Hour'] = df_Uber['Pickup_DateTime'].dt.hour

#### Insert a column for travel distance

In [121]:
# This formula takes about 8 minutes to generate the Distance column in df_Uber dataframe
# Since the data frames will be exported to cvs files, don't run this if not necessary!
df_Uber['Distance'] = [calculate_distance(**df_Uber[['Pickup_Latitude', 'Pickup_Longitude', 'Dropoff_Latitude', 'Dropoff_Longitude']].iloc[i].to_dict()) for i in range(df_Uber.shape[0])]
df_Uber

,Fare_Amount,Pickup_DateTime,Pickup_Date,Pickup_Time,DayofWeek,Pickup_Longitude,Pickup_Latitude,Dropoff_Longitude,Dropoff_Latitude,Passenger_Count,Year,Month,Day,Hour,Distance
0,7.50,2015-05-07 19:52:06,2015-05-07,19:52:06,Thursday,-73.999817,40.738354,-73.999512,40.723217,1,2015,5,7,19,1.683323
1,7.70,2009-07-17 20:04:56,2009-07-17,20:04:56,Friday,-73.994355,40.728225,-73.994710,40.750325,1,2009,7,17,20,2.457590
2,12.90,2009-08-24 21:45:00,2009-08-24,21:45:00,Monday,-74.005043,40.740770,-73.962565,40.772647,1,2009,8,24,21,5.036377
3,5.30,2009-06-26 08:22:21,2009-06-26,08:22:21,Friday,-73.976124,40.790844,-73.965316,40.803349,3,2009,6,26,8,1.661683
4,16.00,2014-08-28 17:47:00,2014-08-28,17:47:00,Thursday,-73.925023,40.744085,-73.973082,40.761247,5,2014,8,28,17,4.475450
5,4.90,2011-02-12 02:27:09,2011-02-12,02:27:09,Saturday,-73.969019,40.755910,-73.969019,40.755910,1,2011,2,12,2,0.000000
6,24.50,2014-10-12 07:04:00,2014-10-12,07:04:00,Sunday,-73.961447,40.693965,-73.871195,40.774297,5,2014,10,12,7,11.731015
8,9.70,2012-02-17 09:32:00,2012-02-17,09:32:00,Friday,-73.975187,40.745767,-74.002720,40.743537,1,2012,2,17,9,2.332711
9,12.50,2012-03-29 19:06:00,2012-03-29,19:06:00,Thursday,-74.001065,40.741787,-73.963040,40.775012,1,2012,3,29,19,4.889417
10,6.50,2015-05-22 17:32:27,2015-05-22,17:32:27,Friday,-73.974388,40.746952,-73.988586,40.729805,1,2015,5,22,17,2.250858
12,3.30,2011-05-17 14:03:00,2011-05-17,14:03:00,Tuesday,-73.966378,40.804440,-73.965890,40.807133,5,2011,5,17,14,0.302252
13,10.90,2011-06-25 11:19:00,2011-06-25,11:19:00,Saturday,-73.953352,40.767382,-73.972510,40.796137,1,2011,6,25,11,3.581251
14,6.90,2010-04-06 22:20:27,2010-04-06,22:20:27,Tuesday,-73.973370,40.755193,-73.978265,40.766375,1,2010,4,6,22,1.309950
15,9.70,2012-02-21 09:33:00,2012-02-21,09:33:00,Tuesday,-73.990718,40.751920,-73.973053,40.744230,2,2012,2,21,9,1.716277
16,4.90,2011-09-01 09:21:40,2011-09-01,09:21:40,Thursday,-73.988908,40.756982,-73.981246,40.760050,1,2011,9,1,9,0.729966
17,10.50,2011-03-19 23:58:27,2011-03-19,23:58:27,Saturday,-74.005665,40.741138,-73.977830,40.749338,2,2011,3,19,23,2.515950
18,12.00,2015-03-25 08:58:35,2015-03-25,08:58:35,Wednesday,-73.962532,40.767189,-73.974457,40.753860,1,2015,3,25,8,1.790320
19,4.90,2009-08-08 00:20:00,2009-08-08,00:20:00,Saturday,-73.992075,40.719633,-73.985323,40.727405,1,2009,8,8,0,1.034704
20,10.50,2014-02-18 14:26:00,2014-02-18,14:26:00,Tuesday,-73.980022,40.745990,-74.003432,40.759667,1,2014,2,18,14,2.490244
21,5.00,2015-03-03 23:15:03,2015-03-03,23:15:03,Tuesday,-73.989189,40.729141,-73.987282,40.720634,2,2015,3,3,23,0.959469
22,4.10,2009-11-26 02:58:00,2009-11-26,02:58:00,Thursday,-74.010798,40.726085,-74.009767,40.737402,2,2009,11,26,2,1.261388
23,7.70,2010-09-04 16:12:00,2010-09-04,16:12:00,Saturday,-73.994300,40.739512,-73.988070,40.724482,2,2010,9,4,16,1.751763
24,12.90,2010-05-12 22:32:00,2010-05-12,22:32:00,Wednesday,-73.972987,40.764040,-74.007820,40.714993,5,2010,5,12,22,6.193236
25,9.50,2009-02-12 17:52:18,2009-02-12,17:52:18,Thursday,-73.986059,40.757159,-73.976130,40.780589,1,2009,2,12,17,2.736189
26,5.00,2014-01-21 06:55:00,2014-01-21,06:55:00,Tuesday,-73.957802,40.776372,-73.957422,40.782870,1,2014,1,21,6,0.723253
27,12.00,2012-11-21 17:37:19,2012-11-21,17:37:19,Wednesday,-73.993909,40.741551,-73.987874,40.770232,1,2012,11,21,17,3.229439
28,4.90,2009-05-06 20:06:23,2009-05-06,20:06:23,Wednesday,-73.977780,40.763656,-73.989486,40.772966,1,2009,5,6,20,1.429515
29,7.30,2011-12-24 02:52:00,2011-12-24,02:52:00,Saturday,-73.971075,40.787833,-73.944957,40.784302,5,2011,12,24,2,2.233696
30,25.70,2011-05-21 09:00:00,2011-05-21,09:00:00,Saturday,-73.944815,40.834367,-73.989332,40.721920,4,2011,5,21,9,13.053312
31,7.70,2009-02-28 15:54:57,2009-02-28,15:54:57,Saturday,-74.004184,40.712975,-73.988385,40.725102,1,2009,2,28,15,1.895047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199969,14.00,2013-05-18 21:14:00,2013-05-18,21:14:00,Saturday,-73.973355,40.754322,-73.999122,40.743042,5,2013,5,18,21,2.506924
199970,7.00,2012-11-29 07:49:50,2012-11-29,07:49:50,Thursday,-73.990789,40.739695,-73.999231,40.749808,1,2012,11,29,7,1.330534
199971,8.10,2012-04-07 22:56:00,2012-04-07,22:56:00,Saturday,-74.004430,40.708112,-74.000380,40.735438,1,2012,4,7,22,3.057621
199972,45.00,2010-08-20 13:19:55,2010-08-20,13:19:55,Friday,-73.786833,40.639842,-74.001215,40.722429,1,2010,8,20,13,20.276438
199973,7.00,2012-11-07 17:53:00,2012-11-07,17:53:00,Wednesday,-73.963912,40.765222,-73.950372,40.783622,2,2012,11,7,17,2.342224
199974,15.00,2013-12-28 23:06:00,2013-12-28,23:06:00,Saturday,-73.990217,40.759230,-73.968513,40.800770,1,2013,12,28,23,4.967406
199975,8.50,2009-11-20 19:00:30,2009-11-20,19:00:30,Friday,-73.990036,40.741504,-74.005305,40.715368,1,2009,11,20,19,3.178267
199977,43.50,2012-11-20 21:04:30,2012-11-20,21:04:30,Tuesday,-73.996671,40.737483,-73.867758,40.897563,1,2012,11,20,21,20.845322
199978,10.10,2009-04-15 08:25:01,2009-04-15,08:25:01,Wednesday,-73.991001,40.749197,-73.964205,40.774161,1,2009,4,15,8,3.577531
199979,6.00,2014-06-08 21:38:43,2014-06-08,21:38:43,Sunday,-73.975209,40.752767,-73.963186,40.757905,2,2014,6,8,21,1.162745
199980,10.00,2012-10-22 11:18:32,2012-10-22,11:18:32,Monday,-73.955423,40.764243,-73.985871,40.769660,1,2012,10,22,11,2.634002
199981,9.00,2014-06-02 21:51:50,2014-06-02,21:51:50,Monday,-73.980445,40.761823,-73.954004,40.784407,1,2014,6,2,21,3.356153
199982,57.33,2014-08-06 11:06:06,2014-08-06,11:06:06,Wednesday,-73.969204,40.754771,-73.790351,40.643802,1,2014,8,6,11,19.483047
199983,4.50,2009-08-29 02:36:56,2009-08-29,02:36:56,Saturday,-74.005619,40.726378,-74.004342,40.721851,1,2009,8,29,2,0.514754
199984,9.00,2015-06-08 12:34:33,2015-06-08,12:34:33,Monday,-73.988243,40.759258,-73.972778,40.755070,1,2015,6,8,12,1.383334
199985,24.00,2015-04-18 15:16:06,2015-04-18,15:16:06,Saturday,-74.005089,40.737301,-73.945290,40.774162,5,2015,4,18,15,6.493880
199986,12.00,2013-09-07 09:54:32,2013-09-07,09:54:32,Saturday,-73.964772,40.760174,-73.996794,40.763152,1,2013,9,7,9,2.717229
199987,8.50,2011-04-30 00:09:16,2011-04-30,00:09:16,Saturday,-73.987260,40.725714,-74.006316,40.739611,2,2011,4,30,0,2.228447
199988,3.70,2011-10-09 02:02:40,2011-10-09,02:02:40,Sunday,-73.988674,40.739342,-73.990730,40.738980,1,2011,10,9,2,0.177836
199989,8.90,2010-02-18 07:12:00,2010-02-18,07:12:00,Thursday,-73.969152,40.790982,-73.967073,40.766705,1,2010,2,18,7,2.705149
199990,12.00,2015-05-24 22:05:56,2015-05-24,22:05:56,Sunday,-73.987106,40.741894,-73.952240,40.772957,1,2015,5,24,22,4.533744
199991,17.50,2015-06-08 10:49:14,2015-06-08,10:49:14,Monday,-73.981453,40.743919,-74.013908,40.712635,1,2015,6,8,10,4.424986
199992,8.90,2010-01-30 16:24:00,2010-01-30,16:24:00,Saturday,-74.003548,40.714045,-73.991053,40.684500,1,2010,1,30,16,3.449991
199993,9.50,2012-09-29 19:51:27,2012-09-29,19:51:27,Saturday,-73.987798,40.721210,-73.980960,40.744388,1,2012,9,29,19,2.640893
199994,12.00,2014-01-31 14:42:00,2014-01-31,14:42:00,Friday,-73.983070,40.760770,-73.972972,40.754177,1,2014,1,31,14,1.122878
199995,3.00,2012-10-28 10:49:00,2012-10-28,10:49:00,Sunday,-73.987042,40.739367,-73.986525,40.740297,1,2012,10,28,10,0.112210
199996,7.50,2014-03-14 01:09:00,2014-03-14,01:09:00,Friday,-73.984722,40.736837,-74.006672,40.739620,1,2014,3,14,1,1.875050
199997,30.90,2009-06-29 00:42:00,2009-06-29,00:42:00,Monday,-73.986017,40.756487,-73.858957,40.692588,2,2009,6,29,0,12.850319
199998,14.50,2015-05-20 14:56:25,2015-05-20,14:56:25,Wednesday,-73.997124,40.725452,-73.983215,40.695416,1,2015,5,20,14,3.539715
199999,14.10,2010-05-15 04:08:00,2010-05-15,04:08:00,Saturday,-73.984395,40.720077,-73.985508,40.768793,1,2010,5,15,4,5.417783

#### Export the data as csv

In [122]:
df_Uber.to_csv(r'D:\IEOR4501Project\final_uber_data.csv', index = None, header=True)

### Processing Weather Data
#### Import weather data

In [129]:
# Loading all weather data from 2009 to 2015
df_Weather_2009 = pd.read_csv(r'C:\Users\siqie\Desktop\2009_weather.csv')
df_Weather_2010 = pd.read_csv(r'C:\Users\siqie\Desktop\2010_weather.csv')
df_Weather_2011 = pd.read_csv(r'C:\Users\siqie\Desktop\2011_weather.csv')
df_Weather_2012 = pd.read_csv(r'C:\Users\siqie\Desktop\2012_weather.csv')
df_Weather_2013 = pd.read_csv(r'C:\Users\siqie\Desktop\2013_weather.csv')
df_Weather_2014 = pd.read_csv(r'C:\Users\siqie\Desktop\2014_weather.csv')
df_Weather_2015 = pd.read_csv(r'C:\Users\siqie\Desktop\2015_weather.csv')

#### Remove unnecessary columns for each dataset

In [130]:
# Since there are too many columns we want to delete, we used "column number" method to clean the data
df_Weather_2009 = df_Weather_2009.drop(df_Weather_2009.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2010 = df_Weather_2010.drop(df_Weather_2010.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2011 = df_Weather_2011.drop(df_Weather_2011.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2012 = df_Weather_2012.drop(df_Weather_2012.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2013 = df_Weather_2013.drop(df_Weather_2013.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2014 = df_Weather_2014.drop(df_Weather_2014.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)
df_Weather_2015 = df_Weather_2015.drop(df_Weather_2015.columns[[0,2,3,4,5,7,8,12,13,14,15,16,17,18,19,20,21,28,29,30,31,33,34,35,41,42,43,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]], axis=1)

#### Put together hourly weather data

In [131]:
# Since we will only focus on the weather from 2012 to 2014, then we only clean up what we need.
## All the hourly data has REPORT_TYPE: FM-15, so we only select FM-15
df_Weather_2012_hourly = df_Weather_2012[df_Weather_2012['REPORT_TYPE'].str.contains('FM-15')]
df_Weather_2013_hourly = df_Weather_2013[df_Weather_2013['REPORT_TYPE'].str.contains('FM-15')]
df_Weather_2014_hourly = df_Weather_2014[df_Weather_2014['REPORT_TYPE'].str.contains('FM-15')]

## Put 3 hourly data into one hourly weather data
frames1 = [df_Weather_2012_hourly, df_Weather_2013_hourly, df_Weather_2014_hourly]
df_Weather_hourly = pd.concat(frames1)

#### Clean up hourly weather data

In [132]:
# Delete unnecessary columns from the table (Most of the daily data). 
df_Weather_hourly = df_Weather_hourly.drop(df_Weather_hourly.columns[[9,10,11,12,13,14,15,16,17]], axis=1)

In [140]:
# Change Column Names
df_Weather_hourly.rename(columns={
                        'DATE':'DateTime'
                       }, inplace = True)

## Seperate Date and Time for Taxi data, add Day of Week
df_Weather_hourly['DateTime'] = pd.to_datetime(df_Weather_hourly['DateTime'])
df_Weather_hourly['Date'] = [d.date() for d in df_Weather_hourly['DateTime']]
df_Weather_hourly['Time'] = [d.time() for d in df_Weather_hourly['DateTime']]

df_Weather_hourly['DayofWeek'] = df_Weather_hourly['DateTime'].dt.day_name()

## Move the Date, Time and Day of Week columns to front
W_hourly_Date = df_Weather_hourly['Date']
df_Weather_hourly.drop(labels=['Date'], axis=1, inplace=True)
df_Weather_hourly.insert(1, "Date", W_hourly_Date)

W_hourly_Time = df_Weather_hourly['Time']
df_Weather_hourly.drop(labels=['Time'], axis=1, inplace=True)
df_Weather_hourly.insert(2, "Time", W_hourly_Time)


DayofWeek_WH = df_Weather_hourly['DayofWeek']
df_Weather_hourly.drop(labels=['DayofWeek'], axis=1, inplace=True)
df_Weather_hourly.insert(3, "DayofWeek", DayofWeek_WH)

## Split Year, Month, Date, and hour into seperate columns
df_Weather_hourly['Year'] = df_Weather_hourly['DateTime'].dt.year
df_Weather_hourly['Month'] = df_Weather_hourly['DateTime'].dt.month
df_Weather_hourly['Day'] = df_Weather_hourly['DateTime'].dt.day
df_Weather_hourly['Hour'] = df_Weather_hourly['DateTime'].dt.hour

# Replace T in Precipitation column with 0 since T means trace amount and we would like to have it as an integer
df_Weather_hourly['HourlyPrecipitation'].replace({"T": 0}, inplace=True)

#### Put together daily weather data

In [141]:
# For daily data we will also focus on 2012 to 2014
## All the daily data has REPORT_TYPE: SOD, so we only select SOD data.
df_Weather_2012_daily = df_Weather_2012[df_Weather_2012['REPORT_TYPE'].str.contains('SOD')]
df_Weather_2013_daily = df_Weather_2013[df_Weather_2013['REPORT_TYPE'].str.contains('SOD')]
df_Weather_2014_daily = df_Weather_2014[df_Weather_2014['REPORT_TYPE'].str.contains('SOD')]

## Put 3 daily data into one hourly weather data
frames2 = [df_Weather_2012_daily, df_Weather_2013_daily, df_Weather_2014_daily]
df_Weather_daily = pd.concat(frames2)

#### Clean up daily weather data

In [142]:
# Delete unnecessary columns (hourly data)
df_Weather_daily = df_Weather_daily.drop(df_Weather_daily.columns[[2,3,4,5,6]], axis=1)
df_Weather_daily.rename(columns={"DailySustainedWindSpeed":"SustainedWindSpeed"}, inplace = True)

In [143]:
# Change Column Names
df_Weather_daily.rename(columns={
                        'DATE':'DateTime'
                       }, inplace = True)

## Seperate Date and time, add Day of Week
df_Weather_daily['DateTime'] = pd.to_datetime(df_Weather_daily['DateTime'])
df_Weather_daily['Date'] = [d.date() for d in df_Weather_daily['DateTime']]

df_Weather_daily['DayofWeek'] = df_Weather_daily['DateTime'].dt.day_name()

## Move the Date and Day of Week columns to front
W_daily_Date = df_Weather_daily['Date']
df_Weather_daily.drop(labels=['Date'], axis=1, inplace=True)
df_Weather_daily.insert(1, "Date", W_daily_Date)


DayofWeek_WD = df_Weather_daily['DayofWeek']
df_Weather_daily.drop(labels=['DayofWeek'], axis=1, inplace=True)
df_Weather_daily.insert(3, "DayofWeek", DayofWeek_WD)

## Split Year, Month, Date into seperate columns
df_Weather_daily['Year'] = df_Weather_daily['DateTime'].dt.year
df_Weather_daily['Month'] = df_Weather_daily['DateTime'].dt.month
df_Weather_daily['Day'] = df_Weather_daily['DateTime'].dt.day

# Replace T in Precipitation column with 0 since T means trace amount and we would like to have it as an integer
df_Weather_daily['DailyPrecipitation'].replace({"T": 0}, inplace=True)

df_Weather_daily

,DateTime,Date,REPORT_TYPE,DayofWeek,Sunrise,Sunset,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageWindSpeed,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,SustainedWindSpeed,Year,Month,Day
30,2012-01-01 23:59:00,2012-01-01,SOD,Sunday,720.0,1639.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,1
244,2012-01-10 23:59:00,2012-01-10,SOD,Tuesday,720.0,1648.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,10
274,2012-01-11 23:59:00,2012-01-11,SOD,Wednesday,720.0,1649.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,11
326,2012-01-12 23:59:00,2012-01-12,SOD,Thursday,719.0,1650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,12
362,2012-01-13 23:59:00,2012-01-13,SOD,Friday,719.0,1651.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,13
435,2012-01-16 23:59:00,2012-01-16,SOD,Monday,718.0,1654.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,16
472,2012-01-17 23:59:00,2012-01-17,SOD,Tuesday,717.0,1655.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,17
590,2012-01-21 23:59:00,2012-01-21,SOD,Saturday,715.0,1700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,21
669,2012-01-23 23:59:00,2012-01-23,SOD,Monday,714.0,1702.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,23
754,2012-01-26 23:59:00,2012-01-26,SOD,Thursday,712.0,1706.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,26
805,2012-01-27 23:59:00,2012-01-27,SOD,Friday,711.0,1707.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,1,27
847,2012-02-01 23:59:00,2012-02-01,SOD,Wednesday,706.0,1713.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,1
1026,2012-02-08 23:59:00,2012-02-08,SOD,Wednesday,659.0,1722.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,8
1053,2012-02-09 23:59:00,2012-02-09,SOD,Thursday,658.0,1723.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,9
1078,2012-02-10 23:59:00,2012-02-10,SOD,Friday,657.0,1724.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,10
1118,2012-02-11 23:59:00,2012-02-11,SOD,Saturday,655.0,1726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,11
1146,2012-02-12 23:59:00,2012-02-12,SOD,Sunday,654.0,1727.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,12
1193,2012-02-14 23:59:00,2012-02-14,SOD,Tuesday,652.0,1729.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,14
1222,2012-02-15 23:59:00,2012-02-15,SOD,Wednesday,650.0,1730.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,15
1258,2012-02-16 23:59:00,2012-02-16,SOD,Thursday,649.0,1732.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,16
1290,2012-02-17 23:59:00,2012-02-17,SOD,Friday,648.0,1733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,17
1317,2012-02-18 23:59:00,2012-02-18,SOD,Saturday,646.0,1734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,18
1489,2012-02-24 23:59:00,2012-02-24,SOD,Friday,638.0,1741.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,24
1613,2012-02-29 23:59:00,2012-02-29,SOD,Wednesday,630.0,1747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,2,29
1652,2012-03-01 23:59:00,2012-03-01,SOD,Thursday,629.0,1748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3,1
1677,2012-03-02 23:59:00,2012-03-02,SOD,Friday,627.0,1749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3,2
1706,2012-03-03 23:59:00,2012-03-03,SOD,Saturday,626.0,1750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3,3
1840,2012-03-09 23:59:00,2012-03-09,SOD,Friday,616.0,1757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3,9
1927,2012-03-13 23:59:00,2012-03-13,SOD,Tuesday,610.0,1801.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3,13
1976,2012-03-15 23:59:00,2012-03-15,SOD,Thursday,606.0,1803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10537,2014-12-02 23:59:00,2014-12-02,SOD,Tuesday,702.0,1629.0,28.0,39.0,9.2,43.0,35.0,60.0,26.0,0.08,17.0,2014,12,2
10582,2014-12-03 23:59:00,2014-12-03,SOD,Wednesday,703.0,1629.0,38.0,44.0,7.7,46.0,41.0,300.0,26.0,0.06,16.0,2014,12,3
10607,2014-12-04 23:59:00,2014-12-04,SOD,Thursday,703.0,1628.0,21.0,41.0,5.8,45.0,37.0,280.0,20.0,0.00,13.0,2014,12,4
10648,2014-12-05 23:59:00,2014-12-05,SOD,Friday,704.0,1628.0,30.0,39.0,6.1,44.0,34.0,60.0,21.0,0.51,17.0,2014,12,5
10715,2014-12-06 23:59:00,2014-12-06,SOD,Saturday,705.0,1628.0,42.0,45.0,4.1,50.0,39.0,20.0,30.0,1.22,17.0,2014,12,6
10741,2014-12-07 23:59:00,2014-12-07,SOD,Sunday,706.0,1628.0,18.0,36.0,11.8,42.0,30.0,10.0,40.0,0.04,25.0,2014,12,7
10772,2014-12-08 23:59:00,2014-12-08,SOD,Monday,707.0,1628.0,16.0,31.0,11.5,37.0,24.0,70.0,29.0,0.00,20.0,2014,12,8
10825,2014-12-09 23:59:00,2014-12-09,SOD,Tuesday,708.0,1628.0,35.0,39.0,10.3,42.0,36.0,60.0,32.0,2.54,22.0,2014,12,9
10872,2014-12-10 23:59:00,2014-12-10,SOD,Wednesday,709.0,1628.0,30.0,36.0,8.2,40.0,32.0,310.0,24.0,0.08,16.0,2014,12,10
10903,2014-12-11 23:59:00,2014-12-11,SOD,Thursday,710.0,1628.0,22.0,35.0,7.6,38.0,31.0,260.0,25.0,0.01,17.0,2014,12,11
10930,2014-12-12 23:59:00,2014-12-12,SOD,Friday,711.0,1628.0,21.0,35.0,8.0,38.0,32.0,300.0,25.0,0.00,15.0,2014,12,12
10959,2014-12-13 23:59:00,2014-12-13,SOD,Saturday,711.0,1629.0,25.0,39.0,8.9,44.0,34.0,300.0,28.0,0.00,16.0,2014,12,13
10986,2014-12-14 23:59:00,2014-12-14,SOD,Sunday,712.0,1629.0,29.0,42.0,6.0,46.0,38.0,300.0,20.0,0.00,13.0,2014,12,14
11011,2014-12-15 23:59:00,2014-12-15,SOD,Monday,713.0,1629.0,29.0,43.0,2.7,48.0,37.0,300.0,12.0,0.00,8.0,2014,12,15
11051,2014-12-16 23:59:00,2014-12-16,SOD,Tuesday,714.0,1629.0,37.0,44.0,3.7,49.0,38.0,150.0,14.0,0.20,12.0,2014,12,16
11089,2014-12-17 23:59:00,2014-12-17,SOD,Wednesday,714.0,1630.0,37.0,48.0,5.8,54.0,42.0,290.0,26.0,0.02,16.0,2014,12,17
11115,2014-12-18 23:59:00,2014-12-18,SOD,Thursday,715.0,1630.0,23.0,40.0,8.7,42.0,37.0,300.0,29.0,0.00,16.0,2014,12,18
11142,2014-12-19 23:59:00,2014-12-19,SOD,Friday,715.0,1630.0,21.0,35.0,7.2,38.0,31.0,310.0,24.0,0.00,14.0,2014,12,19
11169,2014-12-20 23:59:00,2014-12-20,SOD,Saturday,716.0,1631.0,19.0,32.0,4.8,33.0,30.0,60.0,15.0,0.00,12.0,2014,12,20
11203,2014-12-21 23:59:00,2014-12-21,SOD,Sunday,717.0,1631.0,25.0,34.0,4.8,36.0,31.0,10.0,13.0,0,9.0,2014,12,21
11237,2014-12-22 23:59:00,2014-12-22,SOD,Monday,717.0,1632.0,35.0,40.0,6.0,44.0,35.0,40.0,16.0,0.04,12.0,2014,12,22
11295,2014-12-23 23:59:00,2014-12-23,SOD,Tuesday,718.0,1632.0,42.0,45.0,8.2,46.0,43.0,80.0,26.0,0.16,17.0,2014,12,23
11358,2014-12-24 23:59:00,2014-12-24,SOD,Wednesday,718.0,1633.0,47.0,51.0,5.7,58.0,44.0,180.0,17.0,0.80,12.0,2014,12,24
11390,2014-12-25 23:59:00,2014-12-25,SOD,Thursday,718.0,1634.0,36.0,53.0,9.5,62.0,44.0,300.0,32.0,0.09,20.0,2014,12,25
11415,2014-12-26 23:59:00,2014-12-26,SOD,Friday,719.0,1634.0,28.0,45.0,5.9,50.0,40.0,250.0,18.0,0.00,13.0,2014,12,26
11440,2014-12-27 23:59:00,2014-12-27,SOD,Saturday,719.0,1635.0,31.0,50.0,4.4,55.0,44.0,250.0,25.0,0.00,14.0,2014,12,27
11467,2014-12-28 23:59:00,2014-12-28,SOD,Sunday,719.0,1636.0,36.0,49.0,5.8,54.0,43.0,250.0,22.0,0.10,15.0,2014,12,28
11492,2014-12-29 23:59:00,2014-12-29,SOD,Monday,720.0,1636.0,19.0,39.0,5.2,44.0,34.0,320.0,25.0,0.00,15.0,2014,12,29
11517,2014-12-30 23:59:00,2014-12-30,SOD,Tuesday,720.0,1637.0,13.0,31.0,4.3,34.0,28.0,300.0,17.0,0.00,10.0,2014,12,30
11542,2014-12-31 23:59:00,2014-12-31,SOD,Wednesday,720.0,1638.0,8.0,30.0,5.5,32.0,27.0,280.0,21.0,0.00,14.0,2014,12,31

#### Generate values for hourly sustained wind speed

In [144]:
df_Weather_hourly = pd.merge(df_Weather_hourly, df_Weather_daily.loc[:,['Date', 'SustainedWindSpeed']], how='left', on='Date')
df_Weather_hourly

,DateTime,Date,Time,DayofWeek,REPORT_TYPE,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyWindGustSpeed,HourlyWindSpeed,Sunrise,Sunset,Year,Month,Day,Hour,SustainedWindSpeed
0,2012-01-01 06:00:00,2012-01-01,06:00:00,Sunday,FM-15,36,37,NaN,NaN,8.0,NaN,NaN,2012,1,1,6,NaN
1,2012-01-01 08:00:00,2012-01-01,08:00:00,Sunday,FM-15,36,37,NaN,NaN,0.0,NaN,NaN,2012,1,1,8,NaN
2,2012-01-12 08:00:00,2012-01-12,08:00:00,Thursday,FM-15,43,43,0.03,NaN,0.0,NaN,NaN,2012,1,12,8,NaN
3,2012-01-17 15:00:00,2012-01-17,15:00:00,Tuesday,FM-15,41,43,0.01,18.0,10.0,NaN,NaN,2012,1,17,15,NaN
4,2012-01-27 01:00:00,2012-01-27,01:00:00,Friday,FM-15,39,41,NaN,NaN,3.0,NaN,NaN,2012,1,27,1,NaN
5,2012-01-27 03:00:00,2012-01-27,03:00:00,Friday,FM-15,43,43,NaN,NaN,5.0,NaN,NaN,2012,1,27,3,NaN
6,2012-01-27 07:00:00,2012-01-27,07:00:00,Friday,FM-15,48,48,0,NaN,7.0,NaN,NaN,2012,1,27,7,NaN
7,2012-01-27 11:00:00,2012-01-27,11:00:00,Friday,FM-15,55,55,0.01,NaN,3.0,NaN,NaN,2012,1,27,11,NaN
8,2012-02-02 00:51:00,2012-02-02,00:51:00,Thursday,FM-15,34,48,NaN,NaN,5.0,NaN,NaN,2012,2,2,0,NaN
9,2012-02-02 01:51:00,2012-02-02,01:51:00,Thursday,FM-15,32,46,NaN,NaN,3.0,NaN,NaN,2012,2,2,1,NaN
10,2012-02-02 02:51:00,2012-02-02,02:51:00,Thursday,FM-15,30,45,NaN,NaN,5.0,NaN,NaN,2012,2,2,2,NaN
11,2012-02-02 03:51:00,2012-02-02,03:51:00,Thursday,FM-15,30,45,NaN,17.0,8.0,NaN,NaN,2012,2,2,3,NaN
12,2012-02-02 04:51:00,2012-02-02,04:51:00,Thursday,FM-15,30,43,NaN,NaN,0.0,NaN,NaN,2012,2,2,4,NaN
13,2012-02-02 05:51:00,2012-02-02,05:51:00,Thursday,FM-15,30,43,NaN,NaN,0.0,NaN,NaN,2012,2,2,5,NaN
14,2012-02-02 06:51:00,2012-02-02,06:51:00,Thursday,FM-15,30,43,NaN,NaN,5.0,NaN,NaN,2012,2,2,6,NaN
15,2012-02-02 07:51:00,2012-02-02,07:51:00,Thursday,FM-15,30,41,NaN,NaN,7.0,NaN,NaN,2012,2,2,7,NaN
16,2012-02-02 08:51:00,2012-02-02,08:51:00,Thursday,FM-15,30,43,NaN,NaN,11.0,NaN,NaN,2012,2,2,8,NaN
17,2012-02-08 21:00:00,2012-02-08,21:00:00,Wednesday,FM-15,28,32,0,NaN,0.0,NaN,NaN,2012,2,8,21,NaN
18,2012-02-09 00:00:00,2012-02-09,00:00:00,Thursday,FM-15,28,30,0,NaN,7.0,NaN,NaN,2012,2,9,0,NaN
19,2012-02-11 01:51:00,2012-02-11,01:51:00,Saturday,FM-15,28,36,0,NaN,3.0,NaN,NaN,2012,2,11,1,NaN
20,2012-02-11 02:51:00,2012-02-11,02:51:00,Saturday,FM-15,30,34,0,NaN,0.0,NaN,NaN,2012,2,11,2,NaN
21,2012-02-11 03:51:00,2012-02-11,03:51:00,Saturday,FM-15,30,34,0.01,NaN,3.0,NaN,NaN,2012,2,11,3,NaN
22,2012-02-11 04:51:00,2012-02-11,04:51:00,Saturday,FM-15,32,34,0.03,NaN,3.0,NaN,NaN,2012,2,11,4,NaN
23,2012-02-11 05:51:00,2012-02-11,05:51:00,Saturday,FM-15,32,34,0,NaN,0.0,NaN,NaN,2012,2,11,5,NaN
24,2012-02-11 06:51:00,2012-02-11,06:51:00,Saturday,FM-15,32,34,0.02,NaN,0.0,NaN,NaN,2012,2,11,6,NaN
25,2012-02-11 07:51:00,2012-02-11,07:51:00,Saturday,FM-15,30,34,0,NaN,5.0,NaN,NaN,2012,2,11,7,NaN
26,2012-02-11 08:51:00,2012-02-11,08:51:00,Saturday,FM-15,30,34,0,NaN,7.0,NaN,NaN,2012,2,11,8,NaN
27,2012-02-11 09:51:00,2012-02-11,09:51:00,Saturday,FM-15,30,34,0.01,NaN,0.0,NaN,NaN,2012,2,11,9,NaN
28,2012-02-15 17:00:00,2012-02-15,17:00:00,Wednesday,FM-15,34,45,NaN,NaN,3.0,NaN,NaN,2012,2,15,17,NaN
29,2012-02-20 00:51:00,2012-02-20,00:51:00,Monday,FM-15,19,36,NaN,22.0,14.0,NaN,NaN,2012,2,20,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21388,2014-12-30 18:51:00,2014-12-30,18:51:00,Tuesday,FM-15,9,31,0.00,NaN,NaN,NaN,NaN,2014,12,30,18,10.0
21389,2014-12-30 19:51:00,2014-12-30,19:51:00,Tuesday,FM-15,8,30,0.00,NaN,6.0,NaN,NaN,2014,12,30,19,10.0
21390,2014-12-30 20:51:00,2014-12-30,20:51:00,Tuesday,FM-15,8,29,0.00,NaN,6.0,NaN,NaN,2014,12,30,20,10.0
21391,2014-12-30 21:51:00,2014-12-30,21:51:00,Tuesday,FM-15,9,29,0.00,NaN,0.0,NaN,NaN,2014,12,30,21,10.0
21392,2014-12-30 22:51:00,2014-12-30,22:51:00,Tuesday,FM-15,9,28,0.00,NaN,0.0,NaN,NaN,2014,12,30,22,10.0
21393,2014-12-30 23:51:00,2014-12-30,23:51:00,Tuesday,FM-15,10,28,0.00,NaN,0.0,NaN,NaN,2014,12,30,23,10.0
21394,2014-12-31 00:51:00,2014-12-31,00:51:00,Wednesday,FM-15,10,29,0.00,NaN,0.0,NaN,NaN,2014,12,31,0,14.0
21395,2014-12-31 01:51:00,2014-12-31,01:51:00,Wednesday,FM-15,10,29,0.00,NaN,0.0,NaN,NaN,2014,12,31,1,14.0
21396,2014-12-31 02:51:00,2014-12-31,02:51:00,Wednesday,FM-15,10,30,0.00,NaN,0.0,NaN,NaN,2014,12,31,2,14.0
21397,2014-12-31 03:51:00,2014-12-31,03:51:00,Wednesday,FM-15,12,30,0.00,NaN,5.0,NaN,NaN,2014,12,31,3,14.0
21398,2014-12-31 04:51:00,2014-12-31,04:51:00,Wednesday,FM-15,11,30,0.00,17.0,9.0,NaN,NaN,2014,12,31,4,14.0
21399,2014-12-31 05:51:00,2014-12-31,05:51:00,Wednesday,FM-15,11,28,0.00,NaN,3.0,NaN,NaN,2014,12,31,5,14.0
21400,2014-12-31 06:51:00,2014-12-31,06:51:00,Wednesday,FM-15,12,27,0.00,NaN,9.0,NaN,NaN,2014,12,31,6,14.0
21401,2014-12-31 07:51:00,2014-12-31,07:51:00,Wednesday,FM-15,12,27,0.00,NaN,3.0,NaN,NaN,2014,12,31,7,14.0
21402,2014-12-31 08:51:00,2014-12-31,08:51:00,Wednesday,FM-15,10,27,0.00,NaN,10.0,NaN,NaN,2014,12,31,8,14.0
21403,2014-12-31 09:51:00,2014-12-31,09:51:00,Wednesday,FM-15,8,28,0.00,NaN,9.0,NaN,NaN,2014,12,31,9,14.0
21404,2014-12-31 10:51:00,2014-12-31,10:51:00,Wednesday,FM-15,7,30,0.00,NaN,9.0,NaN,NaN,2014,12,31,10,14.0
21405,2014-12-31 11:51:00,2014-12-31,11:51:00,Wednesday,FM-15,6,31,0.00,21.0,6.0,NaN,NaN,2014,12,31,11,14.0
21406,2014-12-31 12:51:00,2014-12-31,12:51:00,Wednesday,FM-15,5,31,0.00,17.0,10.0,NaN,NaN,2014,12,31,12,14.0
21407,2014-12-31 13:51:00,2014-12-31,13:51:00,Wednesday,FM-15,6,31,0.00,NaN,3.0,NaN,NaN,2014,12,31,13,14.0
21408,2014-12-31 14:51:00,2014-12-31,14:51:00,Wednesday,FM-15,6,32,0.00,NaN,3.0,NaN,NaN,2014,12,31,14,14.0
21409,2014-12-31 15:51:00,2014-12-31,15:51:00,Wednesday,FM-15,5,32,0.00,NaN,9.0,NaN,NaN,2014,12,31,15,14.0
21410,2014-12-31 16:51:00,2014-12-31,16:51:00,Wednesday,FM-15,5,31,0.00,NaN,NaN,NaN,NaN,2014,12,31,16,14.0
21411,2014-12-31 17:51:00,2014-12-31,17:51:00,Wednesday,FM-15,6,30,0.00,NaN,9.0,NaN,NaN,2014,12,31,17,14.0
21412,2014-12-31 18:51:00,2014-12-31,18:51:00,Wednesday,FM-15,7,30,0.00,NaN,3.0,NaN,NaN,2014,12,31,18,14.0
21413,2014-12-31 19:51:00,2014-12-31,19:51:00,Wednesday,FM-15,7,30,0.00,NaN,5.0,NaN,NaN,2014,12,31,19,14.0
21414,2014-12-31 20:51:00,2014-12-31,20:51:00,Wednesday,FM-15,6,30,0.00,NaN,3.0,NaN,NaN,2014,12,31,20,14.0
21415,2014-12-31 21:51:00,2014-12-31,21:51:00,Wednesday,FM-15,8,30,0.00,NaN,5.0,NaN,NaN,2014,12,31,21,14.0
21416,2014-12-31 22:51:00,2014-12-31,22:51:00,Wednesday,FM-15,9,29,0.00,NaN,NaN,NaN,NaN,2014,12,31,22,14.0
21417,2014-12-31 23:51:00,2014-12-31,23:51:00,Wednesday,FM-15,9,28,0.00,NaN,5.0,NaN,NaN,2014,12,31,23,14.0

#### Export Weather data into csv files

In [145]:
df_Weather_hourly.to_csv(r'D:\IEOR4501Project\Weather_hourly_Data.csv', index = None, header=True)
df_Weather_daily.to_csv(r'D:\IEOR4501Project\Weather_daily_Data.csv', index = None, header=True)

### Yellow Taxi Data

In [2]:
import math

import bs4
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db

import re

import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"

# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

In [4]:
# Get UBER data and count the number of rows in each month

def load_and_clean_uber_data(csv_file):
    
    df = pd.read_csv (csv_file)
    
    del df["Unnamed: 0"]
    del df["key"]
    df = df[df["pickup_longitude"] <= -73.717047]
    df = df[df["pickup_longitude"] >= -74.242330]
    df = df[df["dropoff_longitude"] <= -73.717047]
    df = df[df["dropoff_longitude"] >= -74.242330]
    df = df[df["pickup_latitude"] <= 40.908524]
    df = df[df["pickup_latitude"] >= 40.560445]
    df = df[df["dropoff_latitude"] <= 40.908524]
    df = df[df["dropoff_latitude"] >= 40.560445]
    
    # df.to_csv('uber_data.csv')
    return df
    
    # raise NotImplemented()
    
def get_uber_data():
    
    uber_dataframe = load_and_clean_uber_data(r'/Users/sandyfan/Desktop/project/uber_rides_sample.csv')
    # uber_dataframe = load_and_clean_uber_data(r'/content/gdrive/My Drive//uber_rides_sample.csv')
    
    # add_distance_column(uber_dataframe)
    
    return uber_dataframe

In [5]:
def find_taxi_csv_urls():
    
    #content = requests.get('https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page')
    content = requests.get(TAXI_URL)
        
    soup = bs4.BeautifulSoup(content.text, 'html.parser')
    
    links = []
    for x in [a['href'] for a in soup.find_all('a')]:
        string = x
        pattern = re.compile(r"https://s3.amazonaws.com/nyc-tlc/trip\+\bdata/yell.*[\W_]csv")
        match = pattern.findall(string)
        if match != []:
            a = match[0]
            links.append(a)
            
    yellow_taxi = links[54:]   # get the links of all years that we need 
    
    
    return yellow_taxi
    
    # raise NotImplemented()

In [6]:
def get_month_taxi_data(url,year,month):
    
    taxi_link = pd.read_csv(url)
    #taxi_link  = pd.read_csv(url,on_bad_lines='skip')
    
    # removing trips that start and/or end outside
    #taxi_link = taxi_link[taxi_link["pickup_longitude"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["pickup_longitude"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["dropoff_longitude"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["dropoff_longitude"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["pickup_latitude"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["pickup_latitude"] >= 40.560445]
    #taxi_link = taxi_link[taxi_link["dropoff_latitude"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["dropoff_latitude"] >= 40.560445]

    # FOR 2014 dataset: different format of columns' names
    # print(taxi_link_2014.columns.tolist()) -- check columns' names
    taxi_link = taxi_link[taxi_link[" pickup_longitude"] <= -73.717047]
    taxi_link = taxi_link[taxi_link[" pickup_longitude"] >= -74.242330]
    taxi_link = taxi_link[taxi_link[" dropoff_longitude"] <= -73.717047]
    taxi_link = taxi_link[taxi_link[" dropoff_longitude"] >= -74.242330]
    taxi_link = taxi_link[taxi_link[" pickup_latitude"] <= 40.908524]
    taxi_link = taxi_link[taxi_link[" pickup_latitude"] >= 40.560445]
    taxi_link = taxi_link[taxi_link[" dropoff_latitude"] <= 40.908524]
    taxi_link = taxi_link[taxi_link[" dropoff_latitude"] >= 40.560445]

    #taxi_link = taxi_link[taxi_link["Start_Lon"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["Start_Lon"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["End_Lon"] <= -73.717047]
    #taxi_link = taxi_link[taxi_link["End_Lon"] >= -74.242330]
    #taxi_link = taxi_link[taxi_link["Start_Lat"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["Start_Lat"] >= 40.560445]
    #taxi_link = taxi_link[taxi_link["End_Lat"] <= 40.908524]
    #taxi_link = taxi_link[taxi_link["End_Lat"] >= 40.560445]
    
    sample_data = taxi_link.sample(month_name_values[year][month])
    
    return sample_data

### Get & Clean Sample Data
### Too slow to run -- run in colab -- DO NOT RUN THIS PART

In [ ]:
def get_and_clean_taxi_data_2015():      
    
    taxi_dataframes_2015 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(6):    # set as 6 b/c there are only first six months uber data in 2015

        dataframe = get_month_taxi_data(all_csv_urls[i],2015,i+1)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2015.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2015 = pd.concat(taxi_dataframes_2015)
    return taxi_data_2015

In [ ]:
yellow_taxi_2015 = get_and_clean_taxi_data_2015()
yellow_taxi_2015.to_csv('yellow_2015.csv')

In [ ]:
def get_and_clean_taxi_data_2014():      
    
    taxi_dataframes_2014 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(12,24):

        dataframe = get_month_taxi_data(all_csv_urls[i],2014,i-11)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2014.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2014 = pd.concat(taxi_dataframes_2014)
    return taxi_data_2014

In [ ]:
yellow_taxi_2014 = get_and_clean_taxi_data_2014()
yellow_taxi_2014.to_csv('yellow_2014.csv')

In [ ]:
def get_and_clean_taxi_data_2013():      
    
    taxi_dataframes_2013 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(24,36):

        dataframe = get_month_taxi_data(all_csv_urls[i],2013,i-23)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2013.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2013 = pd.concat(taxi_dataframes_2013)
    return taxi_data_2013

In [ ]:
yellow_taxi_2013 = get_and_clean_taxi_data_2013()
yellow_taxi_2013.to_csv('yellow_2013.csv')

In [ ]:
def get_and_clean_taxi_data_2012():      
    
    taxi_dataframes_2012 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(36,48):

        dataframe = get_month_taxi_data(all_csv_urls[i],2012,i-35)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2012.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2012 = pd.concat(taxi_dataframes_2012)
    
    return taxi_data_2012

In [ ]:
yellow_taxi_2012 = get_and_clean_taxi_data_2012()
yellow_taxi_2012.to_csv('/content/gdrive/My Drive/yellow_2012.csv')

In [ ]:
def get_and_clean_taxi_data_2011():      
    
    taxi_dataframes_2011 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(48,60):

        dataframe = get_month_taxi_data(all_csv_urls[i],2011,i-47)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2011.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2011 = pd.concat(taxi_dataframes_2011)
    
    return taxi_data_2011

In [ ]:
yellow_taxi_2011 = get_and_clean_taxi_data_2011()
yellow_taxi_2011.to_csv('/content/gdrive/My Drive/yellow_2011.csv')

In [ ]:
def get_and_clean_taxi_data_2010():      
    
    taxi_dataframes_2010 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(60,72):

        dataframe = get_month_taxi_data(all_csv_urls[i],2010,i-59)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2010.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2010 = pd.concat(taxi_dataframes_2010)
    return taxi_data_2010

In [ ]:
yellow_taxi_2010 = get_and_clean_taxi_data_2010()
yellow_taxi_2010.to_csv('/content/gdrive/My Drive/yellow_2010.csv')

In [ ]:
def get_and_clean_taxi_data_2009():      
    
    taxi_dataframes_2009 = []
    
    all_csv_urls = find_taxi_csv_urls()
    
    for i in range(72,84):

        dataframe = get_month_taxi_data(all_csv_urls[i],2009,i-71)
        
        # add_distance_column(dataframe)
        
        taxi_dataframes_2009.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data_2009 = pd.concat(taxi_dataframes_2009)
    return taxi_data_2009

In [ ]:
yellow_taxi_2009 = get_and_clean_taxi_data_2009()
yellow_taxi_2009.to_csv('/content/gdrive/My Drive/yellow_2009.csv')

### After get all Taxi Sample Data  -- 195472 Rows
### Load saved data from local location

In [7]:
data_taxi_2009 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2009.csv')
data_taxi_2010 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2010.csv')
data_taxi_2011 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2011.csv')
data_taxi_2012 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2012.csv')
data_taxi_2013 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2013.csv')
data_taxi_2014 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2014.csv')
data_taxi_2015 = pd.read_csv (r'/Users/sandyfan/Desktop/project/yellow_2015.csv')

In [8]:
# Rename the columns' names of data_taxi_2009

data_taxi_2009 = data_taxi_2009.rename(columns={"vendor_name": "vendor_id", "Trip_Pickup_DateTime": "pickup_datetime",
                               "Trip_Dropoff_DateTime": "dropoff_datetime","Passenger_Count": "passenger_count",
                               "Trip_Distance": "trip_distance","Start_Lon": "pickup_longitude",
                               "Start_Lat": "pickup_latitude","Rate_Code": "rate_code",
                               "store_and_forward": "store_and_fwd_flag","End_Lon": "dropoff_longitude",
                               "End_Lat": "dropoff_latitude","Payment_Type": "payment_type",
                               "Fare_Amt": "fare_amount","Tip_Amt": "tip_amount","surcharge":"extra",
                               "Tolls_Amt": "tolls_amount","Total_Amt": "total_amount"})

In [25]:
def combine_and_clean_all_data():
    
    all_origin_data = [data_taxi_2009,data_taxi_2010,data_taxi_2011,data_taxi_2012,data_taxi_2013,
                       data_taxi_2014,data_taxi_2015]
    
    all_cleaned_data = []
    
    for data in all_origin_data:
        
        # Select 13 useful columns
        data_cleaned = pd.DataFrame(data, columns = ["pickup_datetime","dropoff_datetime",
                                                            "passenger_count","trip_distance","pickup_longitude",
                                                            "pickup_latitude","dropoff_longitude","dropoff_latitude",
                                                            "fare_amount","extra","tip_amount","tolls_amount",
                                                            "total_amount"])
        
        
        
        # add_distance_column(dataframe)
        
        all_cleaned_data.append(data_cleaned)
    
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_cleaned_data)
    # save data
    taxi_data.to_csv('final_taxi_data.csv')
    
    return taxi_data

#### Data Set Final Clean Up (clean up the csv files)

In [96]:
# Further Clean
## upload the cleaned Taxi file to Dataframe for further clean
df_Taxi = pd.read_csv(r'D:\IEOR4501Project\final_taxi_data.csv')  # Since my teammate cleaned this part of the data, I will make adjustment on the cleaned data.
## Change Column Names
df_Taxi.rename(columns={
                        'pickup_datetime':'Pickup_DateTime', 
                        'dropoff_datetime':'Dropoff_DateTime', 
                        'passenger_count':'Passenger_Count', 
                        'trip_distance':'Trip_Distance_Fake',
                        'pickup_longitude':'Pickup_Longitude',
                        'pickup_latitude':'Pickup_Latitude',
                        'dropoff_longitude':'Dropoff_Longitude',
                        'dropoff_latitude':'Dropoff_Latitude',
                        'fare_amount':'Fare_Amount',
                        'extra':'Extra',
                        'tip_amount':'Tip_Amount',
                        'tolls_amount':'Tolls_Amount',
                        'total_amount':'Total_Amount'
                       }, inplace = True)

## Seperate Date and Time for Taxi data, add Day of Week
df_Taxi['Pickup_DateTime'] = pd.to_datetime(df_Taxi['Pickup_DateTime'])
df_Taxi['Pickup_Date'] = [d.date() for d in df_Taxi['Pickup_DateTime']]
df_Taxi['Pickup_Time'] = [d.time() for d in df_Taxi['Pickup_DateTime']]

df_Taxi['Dropoff_DateTime'] = pd.to_datetime(df_Taxi['Dropoff_DateTime'])
df_Taxi['Dropoff_Date'] = [d.date() for d in df_Taxi['Dropoff_DateTime']]
df_Taxi['Dropoff_Time'] = [d.time() for d in df_Taxi['Dropoff_DateTime']]

df_Taxi['DayofWeek'] = df_Taxi['Pickup_DateTime'].dt.day_name()

## Move the Date, Time and Day of Week columns to front
Pickup_Date = df_Taxi['Pickup_Date']
df_Taxi.drop(labels=['Pickup_Date'], axis=1, inplace=True)
df_Taxi.insert(1, "Pickup_Date", Pickup_Date)

Pickup_Time = df_Taxi['Pickup_Time']
df_Taxi.drop(labels=['Pickup_Time'], axis=1, inplace=True)
df_Taxi.insert(2, "Pickup_Time", Pickup_Time)

Dropoff_Date = df_Taxi['Dropoff_Date']
df_Taxi.drop(labels=['Dropoff_Date'], axis=1, inplace=True)
df_Taxi.insert(4, "Dropoff_Date", Dropoff_Date)

Dropoff_Time = df_Taxi['Dropoff_Time']
df_Taxi.drop(labels=['Dropoff_Time'], axis=1, inplace=True)
df_Taxi.insert(5, "Dropoff_Time", Dropoff_Time)

DayofWeek = df_Taxi['DayofWeek']
df_Taxi.drop(labels=['DayofWeek'], axis=1, inplace=True)
df_Taxi.insert(6, "DayofWeek", DayofWeek)

## Split Year, Month, Date, and hour into seperate columns
df_Taxi['Year'] = df_Taxi['Pickup_DateTime'].dt.year
df_Taxi['Month'] = df_Taxi['Pickup_DateTime'].dt.month
df_Taxi['Day'] = df_Taxi['Pickup_DateTime'].dt.day
df_Taxi['Hour'] = df_Taxi['Pickup_DateTime'].dt.hour

## Insert the Distance column
df_Taxi['Distance'] = [calculate_distance(**df_Taxi[['Pickup_Latitude', 'Pickup_Longitude', 'Dropoff_Latitude', 'Dropoff_Longitude']].iloc[i].to_dict()) for i in range(df_Taxi.shape[0])]
df_Taxi

# This formula takes about 8 minutes to generate the Distance column in df_Uber dataframe
# Since the data frames will be exported to cvs files, don't run this if not necessary!

,Pickup_DateTime,Pickup_Date,Pickup_Time,Dropoff_DateTime,Dropoff_Date,Dropoff_Time,DayofWeek,Passenger_Count,Trip_Distance_Fake,Pickup_Longitude,...,Fare_Amount,Extra,Tip_Amount,Tolls_Amount,Total_Amount,Year,Month,Day,Hour,Distance
0,2009-01-16 09:25:00,2009-01-16,09:25:00,2009-01-16 09:35:00,2009-01-16,09:35:00,Friday,1,1.03,-73.955507,...,6.5,0.0,0.00,0.0,6.50,2009,1,16,9,1.220122
1,2009-01-20 17:37:00,2009-01-20,17:37:00,2009-01-20 17:44:00,2009-01-20,17:44:00,Tuesday,1,1.80,-73.961109,...,7.9,0.0,0.00,0.0,7.90,2009,1,20,17,2.131074
2,2009-01-11 12:33:00,2009-01-11,12:33:00,2009-01-11 12:51:00,2009-01-11,12:51:00,Sunday,1,5.54,-73.978070,...,16.1,0.0,0.00,0.0,16.10,2009,1,11,12,7.250717
3,2009-01-16 19:30:00,2009-01-16,19:30:00,2009-01-16 19:47:00,2009-01-16,19:47:00,Friday,1,3.39,-73.986588,...,11.7,1.0,0.00,0.0,12.70,2009,1,16,19,3.548095
4,2009-01-18 01:10:00,2009-01-18,01:10:00,2009-01-18 01:20:00,2009-01-18,01:20:00,Sunday,5,2.33,-74.000165,...,8.1,0.5,0.00,0.0,8.60,2009,1,18,1,2.563061
5,2009-01-07 14:37:00,2009-01-07,14:37:00,2009-01-07 14:45:00,2009-01-07,14:45:00,Wednesday,1,1.00,-73.990114,...,5.7,0.0,0.00,0.0,5.70,2009,1,7,14,0.896824
6,2009-01-17 22:18:00,2009-01-17,22:18:00,2009-01-17 22:33:00,2009-01-17,22:33:00,Saturday,2,2.30,-73.990672,...,10.6,0.0,0.00,0.0,10.60,2009,1,17,22,2.218462
7,2009-01-31 14:47:00,2009-01-31,14:47:00,2009-01-31 15:09:00,2009-01-31,15:09:00,Saturday,5,1.94,-73.968192,...,8.9,0.0,1.00,0.0,9.90,2009,1,31,14,2.013978
8,2009-01-08 11:21:00,2009-01-08,11:21:00,2009-01-08 11:26:00,2009-01-08,11:26:00,Thursday,1,0.70,-73.973329,...,4.5,0.0,0.00,0.0,4.50,2009,1,8,11,1.040712
9,2009-01-28 23:25:00,2009-01-28,23:25:00,2009-01-28 23:29:00,2009-01-28,23:29:00,Wednesday,1,1.01,-73.994867,...,5.7,0.5,1.00,0.0,7.20,2009,1,28,23,1.328139
10,2009-01-01 19:35:00,2009-01-01,19:35:00,2009-01-01 19:39:00,2009-01-01,19:39:00,Thursday,4,0.50,-73.983279,...,4.1,0.0,0.00,0.0,4.10,2009,1,1,19,0.209595
11,2009-01-12 01:41:00,2009-01-12,01:41:00,2009-01-12 02:07:00,2009-01-12,02:07:00,Monday,2,9.00,-73.981446,...,23.4,0.0,0.00,0.0,23.40,2009,1,12,1,9.310468
12,2009-01-14 08:35:00,2009-01-14,08:35:00,2009-01-14 08:41:00,2009-01-14,08:41:00,Wednesday,1,0.42,-73.961738,...,4.5,0.0,0.00,0.0,4.50,2009,1,14,8,0.531549
13,2009-01-31 15:00:00,2009-01-31,15:00:00,2009-01-31 15:08:00,2009-01-31,15:08:00,Saturday,1,0.16,-73.974312,...,6.9,0.0,0.00,0.0,6.90,2009,1,31,15,1.519722
14,2009-01-08 15:50:00,2009-01-08,15:50:00,2009-01-08 16:01:00,2009-01-08,16:01:00,Thursday,1,1.10,-73.986928,...,7.3,0.0,1.50,0.0,8.80,2009,1,8,15,0.660556
15,2009-01-30 23:35:00,2009-01-30,23:35:00,2009-01-30 23:41:00,2009-01-30,23:41:00,Friday,1,1.60,-73.978294,...,6.1,0.5,1.65,0.0,8.25,2009,1,30,23,2.104450
16,2009-01-20 18:30:00,2009-01-20,18:30:00,2009-01-20 18:45:00,2009-01-20,18:45:00,Tuesday,5,1.24,-74.003357,...,7.7,1.0,2.00,0.0,10.70,2009,1,20,18,1.384488
17,2009-01-08 18:17:00,2009-01-08,18:17:00,2009-01-08 18:27:00,2009-01-08,18:27:00,Thursday,2,1.12,-73.981815,...,6.5,1.0,0.00,0.0,7.50,2009,1,8,18,1.269274
18,2009-01-28 19:46:00,2009-01-28,19:46:00,2009-01-28 19:50:00,2009-01-28,19:50:00,Wednesday,1,0.92,-73.994987,...,4.5,1.0,0.00,0.0,5.50,2009,1,28,19,1.074921
19,2009-01-21 19:24:00,2009-01-21,19:24:00,2009-01-21 19:53:00,2009-01-21,19:53:00,Wednesday,1,4.30,-74.015911,...,16.9,1.0,3.55,0.0,21.45,2009,1,21,19,5.842505
20,2009-01-22 23:04:00,2009-01-22,23:04:00,2009-01-22 23:21:00,2009-01-22,23:21:00,Thursday,1,5.20,-73.988256,...,15.4,0.0,0.00,0.0,15.40,2009,1,22,23,7.174510
21,2009-01-13 11:47:00,2009-01-13,11:47:00,2009-01-13 11:56:00,2009-01-13,11:56:00,Tuesday,2,1.01,-73.977797,...,6.5,0.0,0.00,0.0,6.50,2009,1,13,11,1.280640
22,2009-01-15 09:39:00,2009-01-15,09:39:00,2009-01-15 09:57:00,2009-01-15,09:57:00,Thursday,1,3.40,-73.986317,...,12.1,0.0,2.00,0.0,14.10,2009,1,15,9,4.044822
23,2009-01-14 13:08:00,2009-01-14,13:08:00,2009-01-14 13:14:00,2009-01-14,13:14:00,Wednesday,2,0.80,-73.978910,...,4.9,0.0,0.00,0.0,4.90,2009,1,14,13,0.900494
24,2009-01-28 09:34:00,2009-01-28,09:34:00,2009-01-28 10:09:00,2009-01-28,10:09:00,Wednesday,1,3.62,-73.980685,...,18.1,0.0,0.00,0.0,18.10,2009,1,28,9,2.641908
25,2009-01-24 19:09:00,2009-01-24,19:09:00,2009-01-24 19:17:00,2009-01-24,19:17:00,Saturday,1,1.00,-74.001622,...,6.1,0.0,0.00,0.0,6.10,2009,1,24,19,1.362923
26,2009-01-04 17:25:00,2009-01-04,17:25:00,2009-01-04 17:36:00,2009-01-04,17:36:00,Sunday,1,1.79,-74.004708,...,7.7,0.0,0.00,0.0,7.70,2009,1,4,17,2.629698
27,2009-01-27 09:54:00,2009-01-27,09:54:00,2009-01-27 10:04:00,2009-01-27,10:04:00,Tuesday,1,1.00,-73.980453,...,6.5,0.0,0.00,0.0,6.50,2009,1,27,9,1.366090
28,2009-01-10 01:46:00,2009-01-10,01:46:00,2009-01-10 01:56:00,2009-01-10,01:56:00,Saturday,1,2.90,-74.001461,...,8.9,0.5,1.00,0.0,10.40,2009,1,10,1,4.076122
29,2009-01-23 14:09:00,2009-01-23,14:09:00,2009-01-23 14:46:00,2009-01-23,14:46:00,Friday,1,9.90,-73.989510,...,27.7,0.0,3.30,0.0,31.00,2009,1,23,14,10.229730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195442,2015-06-01 22:15:00,2015-06-01,22:15:00,2015-06-01 22:52:00,2015-06-01,22:52:00,Monday,6,12.66,-73.789993,...,37.0,0.5,0.00,0.0,38.30,2015,6,1,22,14.172518
195443,2015-06-16 14:31:00,2015-06-16,14:31:00,2015-06-16 14:56:00,2015-06-16,14:56:00,Tuesday,1,6.10,-73.976746,...,23.0,0.0,4.75,0.0,28.55,2015,6,16,14,6.892248
195444,2015-06-29 17:14:00,2015-06-29,17:14:00,2015-06-29 17:24:00,2015-06-29,17:24:00,Monday,1,1.10,-73.967697,...,8.5,1.0,2.57,0.0,12.87,2015,6,29,17,1.713772
195445,2015-06-15 23:15:00,2015-06-15,23:15:00,2015-06-15 23:40:00,2015-06-15,23:40:00,Monday,1,9.50,-73.995499,...,28.5,0.5,8.94,0.0,38.74,2015,6,15,23,13.422204
195446,2015-06-09 10:41:00,2015-06-09,10:41:00,2015-06-09 11:07:00,2015-06-09,11:07:00,Tuesday,3,3.60,-73.990517,...,18.0,0.0,3.75,0.0,22.55,2015,6,9,10,3.666377
195447,2015-06-18 21:37:00,2015-06-18,21:37:00,2015-06-18 21:49:00,2015-06-18,21:49:00,Thursday,2,1.53,-73.984901,...,7.5,0.5,0.00,0.0,8.80,2015,6,18,21,1.133526
195448,2015-06-28 19:28:00,2015-06-28,19:28:00,2015-06-28 19:32:00,2015-06-28,19:32:00,Sunday,3,0.81,-73.956230,...,5.0,0.0,1.16,0.0,6.96,2015,6,28,19,1.308106
195449,2015-06-25 17:08:00,2015-06-25,17:08:00,2015-06-25 17:20:00,2015-06-25,17:20:00,Thursday,1,2.51,-73.968819,...,10.5,1.0,0.00,0.0,12.30,2015,6,25,17,2.779157
195450,2015-06-06 08:45:00,2015-06-06,08:45:00,2015-06-06 08:50:00,2015-06-06,08:50:00,Saturday,1,1.10,-73.995430,...,5.5,0.0,1.25,0.0,7.55,2015,6,6,8,1.323689
195451,2015-06-09 22:48:00,2015-06-09,22:48:00,2015-06-09 22:52:00,2015-06-09,22:52:00,Tuesday,1,1.10,-73.959534,...,5.5,0.5,1.20,0.0,8.00,2015,6,9,22,1.626150
195452,2015-06-28 18:05:00,2015-06-28,18:05:00,2015-06-28 18:11:00,2015-06-28,18:11:00,Sunday,2,0.81,-73.985878,...,5.5,0.0,1.26,0.0,7.56,2015,6,28,18,0.785986
195453,2015-06-29 18:34:00,2015-06-29,18:34:00,2015-06-29 18:42:00,2015-06-29,18:42:00,Monday,1,1.34,-73.953911,...,7.0,1.0,0.00,0.0,8.80,2015,6,29,18,1.457836
195454,2015-06-15 19:29:00,2015-06-15,19:29:00,2015-06-15 19:39:00,2015-06-15,19:39:00,Monday,1,1.60,-73.964294,...,9.0,1.0,0.00,0.0,10.80,2015,6,15,19,1.868962
195455,2015-06-04 22:23:00,2015-06-04,22:23:00,2015-06-04 22:30:00,2015-06-04,22:30:00,Thursday,1,1.30,-74.004593,...,7.0,0.5,0.00,0.0,8.30,2015,6,4,22,1.972230
195456,2015-06-30 07:56:00,2015-06-30,07:56:00,2015-06-30 08:09:00,2015-06-30,08:09:00,Tuesday,5,1.28,-73.961212,...,9.5,0.0,1.50,0.0,11.80,2015,6,30,7,1.775979
195457,2015-06-10 18:00:00,2015-06-10,18:00:00,2015-06-10 18:25:00,2015-06-10,18:25:00,Wednesday,1,1.60,-73.961433,...,15.0,1.0,3.35,0.0,20.15,2015,6,10,18,1.814747
195458,2015-06-24 08:48:00,2015-06-24,08:48:00,2015-06-24 09:06:00,2015-06-24,09:06:00,Wednesday,1,1.50,-73.961334,...,12.5,0.0,2.65,0.0,15.95,2015,6,24,8,2.545807
195459,2015-06-25 08:08:00,2015-06-25,08:08:00,2015-06-25 08:11:00,2015-06-25,08:11:00,Thursday,4,0.67,-73.997154,...,4.5,0.0,1.06,0.0,6.36,2015,6,25,8,0.678467
195460,2015-06-05 13:39:00,2015-06-05,13:39:00,2015-06-05 13:51:00,2015-06-05,13:51:00,Friday,1,0.90,-73.999687,...,8.5,0.0,1.85,0.0,11.15,2015,6,5,13,1.226622
195461,2015-06-05 21:36:00,2015-06-05,21:36:00,2015-06-05 21:46:00,2015-06-05,21:46:00,Friday,1,2.04,-73.986794,...,9.0,0.5,0.00,0.0,10.30,2015,6,5,21,2.763174
195462,2015-06-13 07:48:00,2015-06-13,07:48:00,2015-06-13 08:02:00,2015-06-13,08:02:00,Saturday,1,4.83,-73.977989,...,15.5,0.0,0.00,0.0,16.30,2015,6,13,7,6.914959
195463,2015-06-14 00:31:00,2015-06-14,00:31:00,2015-06-14 00:36:00,2015-06-14,00:36:00,Sunday,1,0.82,-73.984718,...,5.0,0.5,0.00,0.0,6.30,2015,6,14,0,0.856282
195464,2015-06-20 21:27:00,2015-06-20,21:27:00,2015-06-20 21:53:00,2015-06-20,21:53:00,Saturday,6,3.31,-73.999809,...,17.5,0.5,0.00,0.0,18.80,2015,6,20,21,3.720589
195465,2015-06-09 21:44:00,2015-06-09,21:44:00,2015-06-09 22:01:00,2015-06-09,22:01:00,Tuesday,1,2.39,-73.972984,...,12.0,0.5,3.32,0.0,16.62,2015,6,9,21,2.808523
195466,2015-06-27 15:30:00,2015-06-27,15:30:00,2015-06-27 15:49:00,2015-06-27,15:49:00,Saturday,1,2.04,-73.980629,...,12.0,0.0,0.00,0.0,12.80,2015,6,27,15,0.914476
195467,2015-06-07 09:59:00,2015-06-07,09:59:00,2015-06-07 10:15:00,2015-06-07,10:15:00,Sunday,2,3.67,-73.975060,...,14.0,0.0,0.00,0.0,14.80,2015,6,7,9,5.459679
195468,2015-06-03 22:32:00,2015-06-03,22:32:00,2015-06-03 22:46:00,2015-06-03,22:46:00,Wednesday,1,1.60,-73.975204,...,10.5,0.5,2.36,0.0,14.16,2015,6,3,22,2.141907
195469,2015-06-23 14:41:00,2015-06-23,14:41:00,2015-06-23 14:47:00,2015-06-23,14:47:00,Tuesday,1,0.90,-74.005585,...,6.0,0.0,1.35,0.0,8.15,2015,6,23,14,0.899862
195470,2015-06-28 13:29:00,2015-06-28,13:29:00,2015-06-28 13:44:00,2015-06-28,13:44:00,Sunday,1,6.20,-74.014214,...,19.0,0.0,0.00,0.0,19.80,2015,6,28,13,6.891770
195471,2015-06-24 12:57:00,2015-06-24,12:57:00,2015-06-24 13:18:00,2015-06-24,13:18:00,Wednesday,1,2.14,-73.977356,...,14.5,0.0,3.82,0.0,19.12,2015,6,24,12,2.796596

In [97]:
## Export Final Taxi data as csv. 
df_Taxi.to_csv(r'D:\IEOR4501Project\final_taxi_data_FINAL.csv', index = None, header=True)

## Part 2: Storing Cleaned Data

In [5]:
uber_data =  pd.read_csv (r'D:/IEOR4501Project/final_uber_data.csv')
taxi_data =  pd.read_csv (r'D:/IEOR4501Project/final_taxi_data_FINAL.csv')
hourly_data = pd.read_csv (r'D:/IEOR4501Project/Weather_hourly_Data.csv')
daily_data = pd.read_csv (r'D:/IEOR4501Project/Weather_daily_Data.csv')

In [6]:
# first create a connection - we'll create a new database

DATABASE_URL = "sqlite:///project.db"

engine = db.create_engine(DATABASE_URL)

In [7]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS HourlyWeather
(
    HourlyWeather_id INTEGER PRIMARY KEY AUTOINCREMENT,
    DateTime DATETIME,
    Date DATE,
    Time TIME,
    DayofWeek INTEGER,
    REPORT_TYPE TEXT,
    HourlyDewPointTemperature REAL,
    HourlyDryBulbTemperature REAL,
    HourlyPrecipitation REAL,
    HourlyWindGustSpeed REAL,
    HourlyWindSpeed REAL,
    Sunrise INTEGER,
    Sunset INTEGER,
    Year INTEGER,
    Month INTEGER,
    Day INTEGER,
    Hour INTEGER,
    SustainedWindSpeed REAL
);
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS DailyWeather
(
    DailyWeather_id INTEGER PRIMARY KEY AUTOINCREMENT,
    DateTime DATETIME,
    Date DATE,
    REPORT_TYPE TEXT,
    DayofWeek INTEGER,
    Sunrise INTEGER,
    Sunset INTEGER,
    DailyAverageDewPointTemperature REAL,
    DailyAverageDryBulbTemperature REAL,
    DailyAverageWindSpeed REAL,
    DailyMaximumDryBulbTemperature REAL,
    DailyMinimumDryBulbTemperature REAL,
    DailyPeakWindDirection REAL,
    DailyPeakWindSpeed REAL,
    DailyPrecipitation REAL,
    SustainedWindSpeed REAL,
    Year INTEGER,
    Month INTEGER,
    Day INTEGER
);
"""

TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS TaxiRides
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    Pickup_DateTime DATETIME,
    Pickup_Date DATE,
    Pickup_Time TIME,
    Dropoff_DateTime DATETIME,
    Dropoff_Date DATE,
    Dropoff_Time TIME,
    DayofWeek INTEGER,
    Passenger_Count INTEGER,
    Trip_Distance_Fake REAL,
    Pickup_Longitude REAL,
    Pickup_Latitude REAL,
    Dropoff_Longitude REAL,
    Dropoff_Latitude REAL,
    Fare_Amount REAL,
    Extra REAL,
    Tip_Amount REAL,
    Tolls_Amount REAL,
    Total_Amount REAL,
    Year INTEGER,
    Month INTEGER,
    Day INTEGER,
    Hour INTEGER,
    Distance REAL
);
"""

UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS UberRides
(
    UberRides_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Fare_Amount REAL,
    Pickup_DateTime DATETIME,
    Pickup_Date DATE,
    Pickup_Time TIME,
    DayofWeek INTEGER,
    Pickup_Longitude REAL,
    Pickup_Latitude REAL,
    Dropoff_Longitude REAL,
    Dropoff_Latitude REAL,
    Passenger_Count INTEGER,
    Year INTEGER,
    Month INTEGER,
    Day INTEGER,
    Hour INTEGER,
    Distance REAL
);
"""

In [8]:
# create that required schema.sql file

with open("schema.sql", "w") as f: 
    
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [9]:
# create the tables with the schema files

with engine.connect() as connection:
    pass

### Add Data to Database

In [10]:
from sqlalchemy.orm import sessionmaker

def dataframes_to_table(table_name):
    
    table_name["taxi_trips"].to_sql(name = "TaxiRides",con = engine)
    table_name["uber_trips"].to_sql(name = "UberRides",con = engine)
    table_name["hourly_weather"].to_sql(name = "HourlyWeather",con = engine)
    table_name["daily_weather"].to_sql(name = "DailyWeather",con = engine)

In [ ]:
table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_data,
    "daily_weather": daily_data,
}

dataframes_to_table(table_name_to_dataframe)

In [13]:
!sqlite3 project.db < schema.sql

## Part 3. Understanding the Data

In [14]:
!pip install -U pandasql
from pandasql import sqldf

Requirement already up-to-date: pandasql in c:\users\siqie\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied, skipping upgrade: numpy in c:\users\siqie\anaconda3\lib\site-packages (from pandasql) (1.15.4)
Requirement already satisfied, skipping upgrade: pandas in c:\users\siqie\anaconda3\lib\site-packages (from pandasql) (0.23.4)
Requirement already satisfied, skipping upgrade: sqlalchemy in c:\users\siqie\anaconda3\lib\site-packages (from pandasql) (1.2.15)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in c:\users\siqie\anaconda3\lib\site-packages (from pandas->pandasql) (2.7.5)
Requirement already satisfied, skipping upgrade: pytz>=2011k in c:\users\siqie\anaconda3\lib\site-packages (from pandas->pandasql) (2018.7)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\siqie\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pandasql) (1.12.0)

In [15]:
# Connet to the database

taxi_data = pd.read_sql_table("TaxiRides", "sqlite:///project.db")
uber_data = pd.read_sql_table("UberRides", "sqlite:///project.db")
hourly_data = pd.read_sql_table("HourlyWeather", "sqlite:///project.db")
daily_data = pd.read_sql_table("DailyWeather", "sqlite:///project.db")

#### Q1. Most Popular Hour to Take a Taxi

In [16]:
# Write a new query based on "taxi_data" that only takes the "hour" column and the counting for each hour. 
YellowTaxiPopularHour = """
SELECT (Hour) AS hours,
COUNT (*) AS counts
FROM taxi_data
GROUP BY hour
ORDER BY counts DESC;
"""

# Use sqldf to find the information we need from the query in order for us to find the number of rides and the matching hour. 
query_hour = sqldf(YellowTaxiPopularHour)
print(query_hour[query_hour.counts == query_hour.counts])
print(f"The most popular hour to take a Taxi is {(query_hour.hours[0])} with an average of {(query_hour.counts.max())} rides")

    hours  counts
0      19   12480
1      18   11758
2      20   11596
3      21   11218
4      22   10956
5      14    9856
6      17    9774
7      12    9552
8      23    9543
9      13    9398
10     15    9288
11      9    9125
12     11    9092
13      8    8901
14     10    8834
15     16    7983
16      0    7723
17      7    7148
18      1    5775
19      2    4165
20      6    4058
21      3    3134
22      4    2270
23      5    1845
The most popular hour to take a Taxi is 19 with an average of 12480 rides

In [17]:
# Create a query for Part3 question 1. 
with open("Most_Popular_Hour_For_YellowTaxi.sql", "w+") as f:
    f.write(YellowTaxiPopularHour)
    f.write('/n/n')

#### Q2. For the same time frame, what day of the week was the most popular to take an Uber?

In [18]:
PopularDayofWeekForUber = """
SELECT (DayofWeek) as Day_of_Week,
COUNT(*) AS counts
FROM uber_data
GROUP BY DayofWeek
ORDER BY counts DESC;
"""

query_dayofweek = sqldf(PopularDayofWeekForUber)
print(query_dayofweek[query_dayofweek.counts == query_dayofweek.counts])
print(f"The most popular day of a week to take an Uber is {(query_dayofweek.Day_of_Week[0])} with an average of {(query_dayofweek.counts.max())} rides")

  Day_of_Week  counts
0      Friday   30166
1    Saturday   29599
2    Thursday   29338
3   Wednesday   28328
4     Tuesday   27526
5      Sunday   25834
6      Monday   24681
The most popular day of a week to take an Uber is Friday with an average of 30166 rides

In [19]:
with open("Most_Popular_Day_For_Uber.sql", "w+") as f:
    f.write(PopularDayofWeekForUber)
    f.write('/n/n')

#### Q3. What is the 95 percentile of distance traveled for all hired trips during July 2013

In [20]:
## Count the total numbers of Uber rides in July 2013
Jul2013UberCounts = """
SELECT Year,
Month,
COUNT(*) AS counts
FROM uber_data
WHERE Year = 2013
AND
Month = 7
GROUP BY Year
ORDER BY counts;
"""

query_uber_Jul2013 = sqldf(Jul2013UberCounts)
query_uber_Jul2013

   Year  Month  counts
0  2013      7    2455

In [21]:
## Count the total numbers of Taxi rides in July 2013
Jul2013TaxiCounts = """
SELECT Year,
Month,
COUNT(*) AS counts
FROM taxi_data
WHERE Year = 2013
AND
Month = 7
GROUP BY Year
ORDER BY counts;
"""

query_taxi_Jul2013 = sqldf(Jul2013TaxiCounts)
query_taxi_Jul2013

   Year  Month  counts
0  2013      7    2455

In [22]:
## Since There are totally 2455(Uber) + 2455(YellowTaxi) = 4910 rides 
## The 95 percentile (top 5%) of all the distance will be 4910 x 5% = 245.5
## Thus the 95 percentile of distance will be the 245th longest distance of all rides

Distance95Percentile = """
SELECT Pickup_Date as Pickup_Date,
Distance as Distance
FROM (
    SELECT Pickup_Date, Year, Month, Distance FROM uber_data
    WHERE Year = 2013 AND Month = 7
    UNION ALL
    SELECT Pickup_Date, Year, Month, Distance FROM taxi_data
    WHERE Year = 2013 AND Month = 7
    ) X
ORDER BY Distance DESC
LIMIT 245;
"""

query_95Percentile = sqldf(Distance95Percentile)
print(f"The 95 percentil distance traveled in July 2013 for all rides is {(query_95Percentile.Distance.min())}.")

The 95 percentil distance traveled in July 2013 for all rides is 10.17385522.

In [23]:
with open("95Percentil_of_DistanceTraveled_Jul2013.sql", "w+") as f:
    f.write(Distance95Percentile)
    f.write('/n/n')

#### Q4. What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?

In [24]:
## In this question we used UNION ALL to combine the information from 2 tables with the same columns, which made it possible for us to generate the query. 

Top10daysfor2009 = """
SELECT COUNT(*) AS Number_Of_Rides, 
Year as Year,
Month as Month,
Day as Day,
AVG(Distance) as average_distance
FROM (
    SELECT Year, Month, Day, Distance FROM uber_data
    WHERE Year = 2009
    UNION ALL
    SELECT Year, Month, Day, Distance FROM taxi_data
    WHERE Year = 2009
    ) X
GROUP BY Month, Day
ORDER BY Number_Of_Rides DESC
LIMIT 10;
"""


query_top10days = sqldf(Top10daysfor2009)
query_top10days

   Number_Of_Rides  Year  Month  Day  average_distance
0              226  2009     12    5          2.600251
1              224  2009     12   11          2.793336
2              223  2009     10   23          2.596420
3              223  2009     12    4          3.038159
4              219  2009      4   18          3.298484
5              218  2009      1   31          3.136873
6              214  2009      9   10          3.375565
7              214  2009     10    3          3.212177
8              213  2009      5   21          2.984404
9              210  2009     11    6          3.400012

In [25]:
with open("Top_10days_with_HighestRides_2009.sql", "w+") as f:
    f.write(Top10daysfor2009)
    f.write('/n/n')

#### Q5. Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?

In [26]:
## First we have to use UNION ALL to combine the Uber and Taxi data for 2014. 
Rides2014 = """
SELECT Year as Year,
Month as Month,
Day as Day
FROM (
    SELECT Year, Month, Day FROM uber_data
    WHERE Year = 2014
    UNION ALL
    SELECT Year, Month, Day FROM taxi_data
    WHERE Year = 2014
    ) X;
"""

query_2014Rides = sqldf(Rides2014)

In [27]:
## Use JOIN to put together the rides data and weather data. 
Windiest10days2014 = """
SELECT Year as Year,
Month as Month,
Day as Day,
DailyAverageWindSpeed as Wind_Speed,
Count(*) AS Number_of_Rides
FROM (
    SELECT daily_data.Year, daily_data.Month, daily_data.Day, daily_data.DailyAverageWindSpeed, query_2014Rides.Year, query_2014Rides.Month, query_2014Rides.Day
    FROM query_2014Rides
    JOIN daily_data
    ON query_2014Rides.Year = daily_data.Year AND query_2014Rides.Month = daily_data.Month AND query_2014Rides.Day = daily_data.Day
    AND daily_data.Year = 2014
    )
GROUP BY Month, Day
ORDER BY Wind_Speed DESC
LIMIT 10;
"""


query_WindiestDay = sqldf(Windiest10days2014)
query_WindiestDay

   Year  Month  Day  Wind_Speed  Number_of_Rides
0  2014      3   13        14.1              195
1  2014      1    7        13.1              151
2  2014      2   13        12.6              115
3  2014      1    2        12.2              119
4  2014      3   26        11.9              192
5  2014     12    7        11.8              164
6  2014     12    8        11.5              151
7  2014      3   29        10.8              206
8  2014     11    2        10.8              157
9  2014      1    3        10.4               95

In [28]:
with open("10_Windiest_Days_2014.sql", "w+") as f:
    f.write(Rides2014)
    f.write(Windiest10days2014)
    f.write('/n/n')

#### Q6. During Hurricane Sandy, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

In [29]:
## First we have to use UNION ALL to combine the Uber and Taxi data for 2012. 
Rides2012 = """
SELECT Year as Year,
Month as Month,
Day as Day,
Hour as Hour
FROM (
    SELECT Year, Month, Day, Hour FROM uber_data
    WHERE Year = 2012 AND ((Month = 10 AND Day IN (22,23,24,25,26,27,28,29,30,31)) OR (Month = 11 AND Day IN (1,2,3,4)))
    UNION ALL
    SELECT Year, Month, Day, Hour FROM taxi_data
    WHERE Year = 2012 AND ((Month = 10 AND Day IN (22,23,24,25,26,27,28,29,30,31)) OR (Month = 11 AND Day IN (1,2,3,4)))
    ) X;
"""

query_2012Rides = sqldf(Rides2012)

In [30]:
## Now we use JOIN to put weather information and Trips information together
Sandy2012 = """
SELECT Year as Year,
Month as Month,
Day as Day,
Hour as Hour,
SustainedWindSpeed as Sustain_Wind_Speed,
HourlyPrecipitation as Precipitation,
COUNT(*) AS Number_of_Rides
FROM (
    SELECT hourly_data.Year, hourly_data.Month, hourly_data.Day, hourly_data.Hour, hourly_data.SustainedWindSpeed, hourly_data.HourlyPrecipitation, query_2012Rides.Year, query_2012Rides.Month, query_2012Rides.Day, query_2012Rides.Hour
    FROM query_2012Rides
    JOIN hourly_data
    ON query_2012Rides.Year = hourly_data.Year AND query_2012Rides.Month = hourly_data.Month AND query_2012Rides.Day = hourly_data.Day AND query_2012Rides.Hour = hourly_data.Hour
    AND hourly_data.Year = 2012 AND ((hourly_data.Month = 10 AND hourly_data.Day IN (22,23,24,25,26,27,28,29,30,31)) OR (hourly_data.Month = 11 AND hourly_data.Day IN (1,2,3,4)))
    )
 GROUP BY Month, Day, Hour;
"""

query_SandyInfo = sqldf(Sandy2012)
query_SandyInfo

     Year  Month  Day  Hour  Sustain_Wind_Speed Precipitation  Number_of_Rides
0    2012     10   22     0                13.0          0.00                2
1    2012     10   22     1                13.0          0.00                1
2    2012     10   22     2                13.0          0.00                1
3    2012     10   22     3                13.0          0.00                1
4    2012     10   22     5                13.0          0.00                1
5    2012     10   22     6                13.0          0.00                4
6    2012     10   22     7                13.0          0.00                9
7    2012     10   22     8                13.0          0.00                2
8    2012     10   22     9                13.0          0.00                8
9    2012     10   22    10                13.0          0.00                7
10   2012     10   22    11                13.0          0.00                9
11   2012     10   22    12                13.0          0.00               12
12   2012     10   22    13                13.0          0.00               10
13   2012     10   22    14                13.0          0.00                4
14   2012     10   22    15                13.0          0.00                6
15   2012     10   22    16                13.0          0.00                8
16   2012     10   22    17                13.0          0.00                8
17   2012     10   22    18                13.0          0.00               13
18   2012     10   22    19                13.0          0.00                9
19   2012     10   22    20                13.0          0.00                8
20   2012     10   22    21                13.0          0.00               10
21   2012     10   22    22                13.0          0.00               11
22   2012     10   22    23                13.0          0.00                2
23   2012     10   23     0                 8.0          None                5
24   2012     10   23     1                 8.0          None                1
25   2012     10   23     5                 8.0          None                2
26   2012     10   23     6                 8.0          None                4
27   2012     10   23     7                 8.0          None               11
28   2012     10   23     8                 8.0          None               14
29   2012     10   23     9                 8.0          None                9
..    ...    ...  ...   ...                 ...           ...              ...
277  2012     11    3    17                18.0          0.00               11
278  2012     11    3    18                18.0          0.00               12
279  2012     11    3    19                18.0          0.00               11
280  2012     11    3    20                18.0          0.00                8
281  2012     11    3    21                18.0          0.00               11
282  2012     11    3    22                18.0          0.00                7
283  2012     11    3    23                18.0          0.00               12
284  2012     11    4     0                14.0          0.00                6
285  2012     11    4     1                14.0          0.00               15
286  2012     11    4     2                14.0          0.00               11
287  2012     11    4     3                14.0          0.00                4
288  2012     11    4     4                14.0          0.00                4
289  2012     11    4     5                14.0          0.00                1
290  2012     11    4     7                14.0          0.00                1
291  2012     11    4     8                14.0          0.00                5
292  2012     11    4     9                14.0          0.00                5
293  2012     11    4    10                14.0          0.00                8
294  2012     11    4    11                14.0          0.00               12
295  2012     11    4    12                14.0          0.00               12
296  2012     11    4    13                14.0          0.00                9
297  2012     11    4    14                14.0          0.00                3
298  2012     11    4    15                14.0          0.00                7
299  2012     11    4    16                14.0          0.00               10
300  2012     11    4    17                14.0          0.00               10
301  2012     11    4    18                14.0          0.00                8
302  2012     11    4    19                14.0          0.00                7
303  2012     11    4    20                14.0          0.00               10
304  2012     11    4    21                14.0          0.00                5
305  2012     11    4    22                14.0          0.00                5
306  2012     11    4    23                14.0          0.00                2

[307 rows x 7 columns]

In [31]:
with open("Sandy_2012.sql", "w+") as f:
    f.write(Rides2012)
    f.write(Sandy2012)
    f.write('/n/n')

## Part 4. Visualizing the Data

In [167]:
%matplotlib inline

#### Average Distance Per Month

In [168]:
fig = plt.fiture()
ax = plt.axes()

AttributeError: module 'matplotlib.pyplot' has no attribute 'fiture'